<style>
	.input3dig input{width: 32.5%;text-align:center; line-height: 34px;}
	.error{
		width: 94%;
    	float: left;
    }
	div.container {
		display: none;
		padding-left: 5px;
    	overflow: hidden;
    	padding-bottom: 10px;
	}
</style>

<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

	<div class="content sub_content">
	<div class="topBox">
				<fieldset class="stepTitle">
					<label class="f18">Enter Details :</label>
				</fieldset>
	</div>
	
	<form name="aadhar_Submit" id="aadhar_Submit" method="post" data-bind='submit: aadhar_Submit' style="  margin-top: -12px;">
	
		
		<fieldset class="bgff6869 input3dig">
				<label>Aadhaar Number</label>
				<input type="tel" id="input1" name="aadhar1" required size="4" maxlength="4" value="" class="rs_fld inputs"  style="float:left;" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				
				<input type="tel" id="input2" name="aadhar2" required size="4" maxlength="4" value="" class="rs_fld inputs"  style="margin: 0 1.2%; float:left;" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				
				<input type="tel" id="input3" name="aadhar3" required size="4" maxlength="4" value=""  class="rs_fld inputs"  style="float:left;" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				
		</fieldset>
		
		
		<fieldset class="bgff6869">
				<label>Mobile Number</label>
				<input type="tel" id="fldmobno" name="fldmobno" value="" size="10" minlength="10" maxlength="10" class="rs_fld"/>

		</fieldset>	
		
		<div class="container bgff6869">
			
		</div>
			
		<div class="bgded4d4">
			<div class="clearfix"></div>
				<fieldset>
				  	<input type="submit" value="Submit" class="btn">
				</fieldset>
			<div class="clearfix" style="height:30px;"></div>
		</div>
	
	</form> 
	<div class="footerDiv" style="height:200px;"></div>

  </div>
</div>
<script type="text/javascript">
$("#input1").focus();
$(".inputs").keyup(function () {
    if (this.value.length == 4) {
      $(this).next('.inputs').focus();
    }
});

$("#input3").keyup(function () {
  if (this.value.length == 4) {
		$('#fldmobno').focus();
	 }
});

			$.validator.addMethod("alpha", function(value, element) {
				aadhar = $('#input1').val()+""+$('#input2').val()+""+$('#input3').val();
					test = vhCheck(aadhar);
				 return test; 
			}
			, "Invalid Aadhaar Number"); 
			

$("#aadhar_Submit").validate({
errorLabelContainer: $("#aadhar_Submit div.container"),
	rules: {
		
		aadhar3: {
            required: true,
			alpha: true            
        }
	},
	messages: {
		
		aadhar3:{
			required : "Enter Aadhaar Number",
			alpha : "Invalid Aadhaar Number"
		}
	}
});


	function vhCheck(aadhar)
	{
			var strVal = aadhar;
			if (strVal.length < 12) // Minimum length.
				return false;
			//alert(strVal.verhoeffCheck());
			return strVal.verhoeffCheck();
	};

</script>

</section>
