<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
	.bankname{display: block;
    float: left;
    width: 50%;
    line-height: normal;
    padding: 8px 5px 6px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
	color: #001f79;
	font-weight: bold;}
</style>
	
	<section id="contentData" class="dynamic-page-content">
		
		<div id="wrapper" style="top:79px;">
		  <div class="content sub_content">		

		<div>

			<div class="summblock" style="display:none;">
				
				 <div class="info_row  dark_header"><span class="info_row_left">Aadhaar No.</span> 
				 <span class="info_row_right" id="aadhaarNumber">503000000030211</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Bank Name</span> 
				<span class="info_row_right clslineht bankname" id="bankName">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even" id='mobile'><span class="info_row_left">Mobile Number</span> 
					<span class="info_row_right" id="mobileNumber">BOISAR, MAHARASHTRA</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Status</span> 
				<span class="info_row_right" id="status">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Last Update Date</span> 
				<span class="info_row_right " id="lastUpdatedDate">-</span>
					<div class="clearfix"></div>
				</div>
				 
				<div class="info_row odd"><span class="info_row_left">Processed Date</span> 
					<span class="info_row_right" id="processedDateTimeStamp">INR</span>
					<div class="clearfix"></div>
				</div>	
				
				<div class="info_row even"><span class="info_row_left">Request Number</span> 
				<span class="info_row_right" id="requestNumber">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Aadhaar linkage mandate flag</span> 
				<span class="info_row_right" id="mandateflag">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd" id='mandatedate1' style='display:none;'><span class="info_row_left">Mandate provided on</span> 
				<span class="info_row_right" id="mandatedate">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">PMJDY Overdraft</span> 
				<span class="info_row_right" id="Overdraftflag">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even" id='Overdraftdate1' style='display:none;'><span class="info_row_left">Mandate provided on</span> 
				<span class="info_row_right" id="Overdraftdate">-</span>
					<div class="clearfix"></div>
				</div>


			</div>
		</div>	
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>

