<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

	<div class="stepBox">
		<ul class="four">
			<li><a href="javascript:void(0);"><span>1</span></a></li>
			<li class="active"><a href="javascript:void(0);"><span>2</span></a></li>
			<li><a href="javascript:void(0);"><span>3</span></a></li>
			<li><a href="javascript:void(0);"><span>4</span></a></li>
		</ul>
	</div>

	<div class="content sub_content">
	<div class="topBox">
				<fieldset class="stepTitle">
					<label class="f18">Enter Details :</label>
				</fieldset>
	</div>
	
	<form name="Debit_reg" id="Debit_reg" method="post" data-bind='submit: DebitRegSubmit'>
	
		<fieldset class="bgff6869">
				<label>User Id (CIF)</label>
				<input type="text" name="userId" id="userId" size="10" />
		</fieldset>
		
		<fieldset class="bgff6869">
				<label>Debit Card No.</label>
				<input type="number" name="Debitcard" id="Debitcard" minlength="16" maxlength="16" size="16" />
		</fieldset>	
			
		<fieldset class="bgff6869">
				<label>Pin No.</label>
				<input type="number" name="PinNo" id="PinNo" style="-webkit-text-security: disc;"/>
		</fieldset>	

		
		<div class="bgded4d4">
			<div class="clearfix"></div>
				<fieldset>
				  	<input type="submit" value="Submit" class="btn">
				</fieldset>
			<div class="clearfix" style="height:30px;"></div>
		</div>
	
	</form> 
	
  </div>
</div>
<script type="text/javascript">

$("#PinNo").keyup(function() {
$("#PinNo").val(this.value.match(/[0-9]*/));
var count=$("#PinNo").val().length;
if(count>4){
   $("#PinNo").val(this.value.match(/[0-9]{4}/));
    }
});

$("#Debitcard").keyup(function() {
$("#Debitcard").val(this.value.match(/[0-9]*/));
 var count=$("#Debitcard").val().length;
if(count>16){
   $("#Debitcard").val(this.value.match(/[0-9]{16}/));
    } 
});

$("#userId").keyup(function() {
$("#userId").val(this.value.match(/[A-Za-z0-9]*/));

});

	
			$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^[a-z0-9]+$/i.test(value); 
			}
			, "User ID should contain Alphabets and Numbers"); 
			
				$("#Debit_reg").validate({
					rules: {
						userId:{
						required:true,
						alpha:true
						},
						Debitcard:{
						required:true,
						},
						PinNo:{
						required:true,
						},		
					},
					messages: {
						userId:{
						required : "Enter User Id",
						alpha : "User ID should contain Alphabets and Numbers",			
					},	
					   Debitcard:{
						required : "Enter Debit Card No",
					},	
						PinNo:{
						required:"Enter Pin No",
						},	
					}
				});	
</script>

</section>
