<section class="dynamic-page-content" id="contentData">

	<style>
<link rel="stylesheet"type="text/css"href="css/style.css"/>
</style>


	<div class="main">

		<div class="txt-label" align="center">Welcome to RBL MoBank</div>

		 <div class="image-banner" align="center">
			<a id="img-target" onclick="OpenTargetURL();"> <img class="img1"
				src='http://www.rblbank.com/images/Mobank-app/banner1.jpg'
				id="slide" width="100%" height="96%"
				onerror="this.src = 'images/Mo-bank.jpg';" />
			</a>

		</div> 


		<div class="dots" align="center">

			<img id="dot0" class="dot-fill" src="images/red_dot.png" width="8px"
				height="8px" /> <img id="dot1" class="dot-fill"
				src="images/gray_dot.png" width="8px" height="8px" /> <img
				id="dot2" class="dot-fill" src="images/gray_dot.png" width="8px"
				height="8px" /> <img id="dot3" class="dot-fill"
				src="images/gray_dot.png" width="8px" height="8px" /> <img
				id="dot4" class="dot-fill" src="images/gray_dot.png" width="8px"
				height="8px" />


		</div>
		<br>


		<div class="contain">

			<div class="cart-menu1" align="center">
				<div id="div-empty" class="compress-width"></div>
				<div class="cart-menu" align="center">
					<a class="txt_home" href="#aadhar"> <img class="img-menu"
						src="images/aadhar.png" width="40px" height="40px" />
						<p class="txt-cart">Aadhaar Card</p></a>
				</div>

				<div class="cart-menu" align="center">
					<a class="txt_home" onclick="emailsend();"> <img
						class="img-menu" src="images/feedback.png" width="40px"
						height="40px" />
						<p class="txt-cart">Feedback</p></a>
				</div>

				<div id="div-register" class="cart-menu no-border compress-width"
					align="center">
					<a href="#new_user_reg"> <input type="button" id="register_btn"
						class="btn" value="Register"></input></a>
				</div>
			</div>
			
			<br />
			
			<div class="cart-menu2" align="center">
				<div></div>
				<div class="cart-menu" align="center">
					<a class="txt_home" href="#" onclick="openNativePage();"> <img
						class="img-menu" src="images/atm-branches.png" width="40px"
						height="40px" />
						<p class="txt-cart">ATMs/ Branches</p></a>
				</div>

				<div class="cart-menu" align="center">
					<a class="txt_home" href="#contact"> <img class="img-menu"
						src="images/contact.png" width="40px" height="40px" />
						<p class="txt-cart">Contact us</p></a>
				</div>

				<div class="cart-menu no-border" align="center">
					<a href="#login"> <input type="button" id="login_btn"
						class="btn" value="Login"></input></a>
				</div>

			</div>
		</div>
	</div>

</section>
<script>
 
   
   
		var slideimages = new Array() // create new array to preload images
		slideimages[0] = new Image() // create new instance of image object
		slideimages[0].src = 'http://www.rblbank.com/images/Mobank-app/banner1.jpg'; 
		slideimages[1] = new Image()
		slideimages[1].src = 'http://www.rblbank.com/images/Mobank-app/banner2.jpg';
		slideimages[2] = new Image()
		slideimages[2].src = 'http://www.rblbank.com/images/Mobank-app/banner3.jpg';
		slideimages[3] = new Image()
		slideimages[3].src = 'http://www.rblbank.com/images/Mobank-app/banner4.jpg';
		slideimages[4] = new Image()
		slideimages[4].src = 'http://www.rblbank.com/images/Mobank-app/banner5.jpg';

		//variable that will increment through the images
		var step = 0;
		var time;

		function slideit() {		
		
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		today = mm + '-' + dd +'-' + yyyy;	
						
					
		document.getElementById('slide').src = slideimages[step].src +"?"+today;
		 	
	    $(".dot-fill").attr("src","images/gray_dot.png");
			
		document.getElementById('dot'+step).src = "images/red_dot.png";          
						
			
			if (step < 4)
			{
				step++;
			}
			else
			{
				step = 0;
			}
				//call function "slideit()" every 5 seconds
				
				
				
				clearTimeout(time);
				time=setTimeout("slideit()",5000);
		}
		
		slideit();
		
		function emailsend(){
		getNativeData('mail', function(data){}, function(msg){},"");
		};
	
	function backFromNativePage(m){
	};
	
	function openNativePage(){
	var params = {
			nameParam : 'my page'
	};
	<!--WL.NativePage.show("com.snapwork.rbl.AtmBrancheLockerActivity", backFromNativePage, params); -->
	<!--WL.NativePage.show("com.snapwork.rbl.AtmBrancheLockerActivityD AtmBrancheLockerActivityV2", backFromNativePage, params); -->
	WL.NativePage.show("com.rblbank.mobank.AtmBrancheLockerActivityV2", backFromNativePage, params);
}


$(document).ready(function(){   

   
$("#dot0").click(function()
 {
  step = 0;
  clearTimeout(time);
  slideit();
 });
 
 $("#dot1").click(function()
 {
  step = 1;
  clearTimeout(time);
  slideit();
 });
 
 $("#dot2").click(function()
 {
  step = 2;
  clearTimeout(time);
  slideit();
 });
 
 $("#dot3").click(function()
 {
  step = 3;
  clearTimeout(time);
  slideit();
 });
 
 $("#dot4").click(function()
 {
  step = 4;
  clearTimeout(time);
  slideit();
 });
  
   if(localStorage.getItem("RegisteredUser"))
   {		 
		var registerUserValue = encryptXorNumber(localStorage.getItem("RegisteredUser"),enckey);
		
		    if (registerUserValue != "" || registerUserValue != null)
		   {
		   
			 
			    $("#register_btn").click(function()
					 {
					// alert(registerUserValue);
 						 alert("You have already registered."); 
 						 return false; 
 					 });
	
				$("#register_btn").css('background-color', 'gray');  
			   
		   }
    }

 });


function callback(data)
 {
 
   var get_url = data.url;
 if(get_url=='#' || get_url=='')

     {
     }

     else
     openLink(data.url);
 }  
 
 
	function OpenTargetURL() {
		var slideUrl = $("#slide").attr('src');

		if (slideUrl.toLowerCase().indexOf("banner1") >= 0) {

			$.ajax({
						url : "http://www.rblbank.com/images/Mobank-app/banner1-Target-URL.html",
						dataType : "jsonp"
					});

		}

		else if (slideUrl.toLowerCase().indexOf("banner2") >= 0) {

			$.ajax({
						url : "http://www.rblbank.com/images/Mobank-app/banner2-Target-URL.html",
						dataType : "jsonp"
					});
		} else if (slideUrl.toLowerCase().indexOf("banner3") >= 0) {
			$.ajax({
						url : "http://www.rblbank.com/images/Mobank-app/banner3-Target-URL.html",
						dataType : "jsonp"
					});
		} else if (slideUrl.toLowerCase().indexOf("banner4") >= 0) {
			$.ajax({
						url : "http://www.rblbank.com/images/Mobank-app/banner4-Target-URL.html",
						dataType : "jsonp"
					});
		} else if (slideUrl.toLowerCase().indexOf("banner5") >= 0) {
			$.ajax({
						url : "http://www.rblbank.com/images/Mobank-app/banner5-Target-URL.html",
						dataType : "jsonp"
					});
		} else {
		}
	}
</script>





