
<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

	<div class="stepBox">
		<ul class="four">
			<li><a href="javascript:void(0);"><span>1</span></a></li>
			<li><a href="javascript:void(0);"><span>2</span></a></li>
			<li class="active"><a href="javascript:void(0);"><span>3</span></a></li>
			<li><a href="javascript:void(0);"><span>4</span></a></li>
		</ul>
	</div>

	<div class="content sub_content">
	<div class="topBox">
				<fieldset class="stepTitle">
					<label class="f18">Enter Details :</label>
				</fieldset>
	</div>
	
	<form name="new_user_reg2" id="new_user_reg2" method="post" data-bind='submit: new_user_reg2Submit'>
	<div class="summblock listItems">
		<fieldset class="bgff6869">
			<div class="info_row"> <span class="info_row_left">User ID</span> <span class="info_row_right f18" id='cust_id'></span>
				<div class="clearfix"></div>
			</div>
		</fieldset>
	
		<fieldset class="bgff6869">
				<label>MPin</label>
				<input type="number" name="mpin" id="mpin" style="-webkit-text-security: disc;"/>
		</fieldset>
		
		<fieldset class="bgff6869">
				<label>Confirm MPin</label>
				<input type="number" name="confirmmpin" id="confirmmpin" style="-webkit-text-security: disc;"/>
		</fieldset>
		
		<!-- <fieldset class="bgff6869"> -->
		<fieldset class="bgff6869" style="display:none;">
			<label>OTP Ref No</label>
			<input type="text" name="OTP_Ref" id="OTP_Ref" size="10">
		</fieldset>
		
		<fieldset class="bgff6869">
			<label>OTP No</label>
			<input type="password" name="OTP_No_Val" id="OTP_No_Val" maxlength="6" minlength="6" size="6" />
		</fieldset>
			
		<div class="bgded4d4">
			<div class="clearfix"></div>
				<fieldset>
				  	<input type="submit" value="Submit" class="btn">
				</fieldset>
			<div class="clearfix" style="height:30px;"></div>
		</div>
	</div>
  			  <div class="termsAndCon f15"><a id='listBG' onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">Terms and Conditions</a></div>
	</form> 
	<div class="footerDiv" style="height:100px;"></div>
  </div>

			</div>

</div>
<script type="text/javascript">
  $('.footerDiv').hide();
$("input[type=password]").focus(function(){

 $('.footerDiv').height($(window).height()/2);
    $('.footerDiv').show();
});

$("input[type=password]").focusout(function(){

 
    $('.footerDiv').hide();
});


 $("#mpin").keyup(function() {
$("#mpin").val(this.value.match(/[0-9]*/));
var count=$("#mpin").val().length;
if(count>6){
   $("#mpin").val(this.value.match(/[0-9]{6}/));
    }
});

$("#confirmmpin").keyup(function() {
 $("#confirmmpin").val(this.value.match(/[0-9]*/));
var count=$("#confirmmpin").val().length;
if(count>6){
   $("#confirmmpin").val(this.value.match(/[0-9]{6}/));
    }
});


/*			$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^(?:0(?!00|12)|1(?!11|23)|2(?!22|34|10)|3(?!33|45|21)|4(?!44|56|32)|5(?!55|67|43)|6(?!66|78|54)|7(?!77|89|65)|8(?!88|76)|9(?!99|87)){6}$/i.test(value); 
			}
			, "Please select Strong MPIN...!"); 
			
				$("#new_user_reg2").validate({
					rules: {
						mpin:{
						required:true,
						alpha:true
						},
						confirmmpin:{
						required:true,
						equalTo: "#mpin"
						},
						OTP_No_Val:{
						required:true,
						},
					},
					messages: {
						mpin:{
							required : "Enter MPin",
							alpha : "Please select Strong MPIN...!",		
						},	
					   confirmmpin:{
							required : "Enter Mpin again to Confirm",
									
						},
						OTP_No_Val:{
							required:"Please Enter OTP No",
						}
							
					}
				});	
				
*/

$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^[0-9]+$/i.test(value); 
			}
			, "MPin should contain Numbers only"); 
			
				$("#new_user_reg2").validate({
					rules: {
						mpin:{
						required:true,
						alpha:true
						},
						confirmmpin:{
						required:true,
						equalTo: "#mpin"
						},
						OTP_No_Val:{
						required:true,
						},
					},
					messages: {
						mpin:{
							required : "Enter MPin",
							alpha : "Mpin should contain Numbers",			
						},	
					   confirmmpin:{
							required : "Enter Mpin again to Confirm",
									
						},
						OTP_No_Val:{
							required:"Please Enter OTP No",
						}
							
					}
				});	


</script>

</section>
