
<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

	<div class="stepBox">
		<ul class="four">
			<li><a href="javascript:void(0);"><span>1</span></a></li>
			<li class="active"><a href="javascript:void(0);"><span>2</span></a></li>
			<li><a href="javascript:void(0);"><span>3</span></a></li>
			<li><a href="javascript:void(0);"><span>4</span></a></li>
		</ul>
	</div>

	<div class="content sub_content">
	<div class="topBox">
				<fieldset class="stepTitle">
					<label class="f18">Enter Details :</label>
				</fieldset>
	</div>
	
	<form name="new_user_reg1" id="new_user_reg1" method="post" data-bind='submit: new_user_reg1Submit'>
	
		<fieldset class="bgff6869">
				<label>User Id/ Nick name</label>
				<input type="text" name="userId" id="userId" size="10" />
		</fieldset>
		
		<fieldset class="bgff6869">
				<label>Password</label>
				<input type="password" name="Userpwd" id="Userpwd" size="12" maxlength="12" />
		</fieldset>	
			
		<div class="bgded4d4">
			<div class="clearfix"></div>
				<fieldset>
				  	<input type="submit" value="Submit" class="btn">
				</fieldset>
			<div class="clearfix" style="height:30px;"></div>
		</div>
	
  			  <div class="termsAndCon f15"><a id='listBG' onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">Terms and Conditions</a></div>
	</form> 
	<div class="footerDiv" style="height:200px;"></div>

  </div>

			</div>

<script type="text/javascript">
$('.footerDiv').hide();
$("input[type=password]").focus(function(){

 $('.footerDiv').height($(window).height()/2);
    $('.footerDiv').show();
});

$("input[type=password]").focusout(function(){

 
    $('.footerDiv').hide();
});

$("#userId").keyup(function() {
$("#userId").val(this.value.match(/[A-Za-z0-9]*/));

});

			$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^[a-z0-9]+$/i.test(value); 
			}
			, "Customer ID should contain Alphabets and Numbers"); 
			
				$("#new_user_reg1").validate({
					rules: {
						userId:{
						required:true,
						alpha:true
						},
						Userpwd:{
							required:true
						},
								
					},
					messages: {
						userId:{
						required : "Enter Customer Id",
						alpha : "Customer ID should contain Alphabets and Numbers",			
					},	
					   Userpwd:{
						required : "Enter Customer Password",
									
					},	
							
					}
				});	
</script>

</section>
