<style>
#wrapper{ padding-bottom: 43px;}
</style>
<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

	<div class="stepBox">
		<ul class="four">
			<li><a href="javascript:void(0);"><span>1</span></a></li>
			<li><a href="javascript:void(0);"><span>2</span></a></li>
			<li><a href="javascript:void(0);"><span>3</span></a></li>
			<li class="active"><a href="javascript:void(0);"><span>4</span></a></li>
		</ul>
	</div>

	<div class="content sub_content">
		<div class="topBox">
			<fieldset class="stepTitle centerAlign" style="display:none;">
				<img src="img/rightIcon.png" alt="" />
				<label class="f18">Your MPin has been successfully generated. Please login using this MPin.</label>
			</fieldset>
			<div class="topBox bgff5354" style="display:none;">
				 <div class="rsaOOBErr">
				<p></p>
				 </div>
			</div>
	
		</div>
		
	</div>
		<div class="bgded4d4">
			<div class="clearfix"></div>
				<fieldset>
				  	<input type="button" class="button" value="Ok" id="valid" style="width: 100px; margin: 0 auto; display: table;"/>
				</fieldset>
			<div class="clearfix" style="height:30px;"></div>
		</div>
  <div class="termsAndCon f15"><a id='listBG' onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">Terms and Conditions</a></div>


			</div>

</section>
<script>
	$('#valid').click(function(){
		if(invocationResult.RBL.STATUS.CODE=="0"){
			window.location = "#login";
		}
		else{
			window.location = "#new_user_reg";
		}
	});
</script>