
/* Stylesheet content from css/custom.css in folder common */

/* Stylesheet content from css/custom.css in folder common */
/* 	CSS Document 
	Author 	: www.techepoch.com 
	Date 	: May 2012
	
*/ 

.wrapper {
	width:100%;
	/* width: 320px;*/
	background: #ffffff;
	/*padding-top: 43px;*/
	overflow: hidden;
	/*min-height: 480px;*/	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.rotating-item-wrapper {
	left:20px;
	float: left;
	width: 88%;
	/*border:2px solid #b8c7d4;
	border-radius:5px 5px 5px 5px;*/
	height:150px;	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rotating-item-wrapper a {
	text-decoration:none;
	color:#888;
}
.rotating-item-wrapper a:hover {
	text-decoration:none;
	color:#888;
}

.rotating-item-wrapper span {
	height:150px;	
	width: 100%;
	background: url("../img/carousel_block.png") no-repeat;	
}
.rotating-item-wrapper-small span {
	height:150px;	
	width: 100%;
	background: url("../img/carousel_block_small1.png") no-repeat;	
}

.rotating-item-wrapper #nav {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 90px;
	padding-left: 40%;
}

.rotating-item-wrapper #nav  a {
	height: 5px;
	width: 5px;
	background: #cccccc;
	margin-right: 10px;
	padding: 3px;
	border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-indent: -100000px;
	display: block;
	float: left;
}
.rotating-item-wrapper #nav  a.activeSlide {
	background: #666666;
}
#wrapper #previous {
	position: absolute;
	top:0px;
	left:0px;
	width: 27px;
	background: #fff;
	opacity: 0.7;
	z-index: 100;
	height:150px;
	float:left;	
}

#wrapper #next {
	position: absolute;
	top:0px;
	right:0px;
	width: 27px;
	background: #fff;
	opacity: 0.7;
	z-index: 100;
	height:150px;
	float:right;	
}

#wrapper #next  {
	background: url("../img/back1.png") no-repeat  0px 60%;
	display: block;
	height:150px;
}

#wrapper #previous  {
	background: url("../img/next.png") no-repeat 0px 60%;
	display: block;
	height:150px;
}

#wrapper1 #previous1 {
	position: absolute;	
	left:0;
	width: 27px;
	background: #fff;
	opacity: 0.7;
	z-index: 100;
	height:150px;
	float:left;	
}

#wrapper1 #next1 {
	position: absolute;
	right:0;
	width: 27px;	
	background: #fff;
	opacity: 0.7;
	z-index: 100;
	height:150px;
	float:right;
}

#wrapper1 #next1  {
	background: url("../img/back1.png") no-repeat  0px 50%;
	display: block;
	height:150px;
}

#wrapper1 #previous1  {
	background: url("../img/next.png") no-repeat 0px 50%;
	display: block;
	height:150px;
}
.info_row4 { display:block; float:left; width:97%; min-height:25px; line-height:25px; margin:5px 0 0 0; }
.lineslider{ height:2px; background-image: url(../img/line_s.png); background-repeat:no-repeat; width:72%;  margin:20px 0 0 50px; padding: 0px 10px 0 10px;display:block; float:left;}

.info_row_menu_left { display:block; float:left; width:20%; min-height:43px;   padding: 3px 5px; } 
.info_row_menu_right { display:block; float:left; width:62%; min-height:43px; line-height:43px; padding: 3px 5px; } 

.scrollable{
				background-color:#fff;
				border:0px solid #777;
				/*height:150px;
				height:auto;
				overflow:auto;*/
				
			}
			
.right_arrow {
	float:right;
	width:10%;
}

.content_divider {
	height:3%;
	background-color:#e3effa;
	position:absolute;
	width:100%;
	left:0px;
}

.info_row_right1 { display:block; float:left; width:70%; min-height:30px; line-height:30px; padding: 3px 5px; }
.info_row_left1 { display:block; float:left; width:22%; min-height:30px; line-height:30px; padding: 3px 5px; }

.lineslider1 {
    background-image: url("../img/line_s.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 2px;
    margin: 20px 0 0 50px;
    padding: 0;
    width: 95%;
}
