
/* Stylesheet content from css/style.css in folder common */
html, body { height: 100%; width: 100%; min-height: 100%; background: #ded4d4; margin: 0; padding:0; }

.footer_nav { overflow:visible; }
.footer ul { position:absolute; bottom:0; transition:transform ease-in-out 1s; -webkit-transition:-webkit-transform ease-in-out 1s; -ms-transition:-ms-transform ease-in-out 1s; }
/*.footer ul:last-child { transform: translateY(100%); -webkit-transform: translateY(100%); -ms-transform: translateY(100%); border-bottom: 1px solid #fff; z-index: 9999; }*/

#wrapper { position:absolute; z-index:1; top:78px; left:0; padding-bottom:75px; width:100%; background:#ded4d4; }
#wrapper1 { position:absolute; z-index:1; top:46px; left:0; padding-bottom:54px; width:100%; }
#contentData { height: 100%; background: #ded4d4; overflow: hidden; }
#wrapper.tab { top:117px; }
#wrapper.tab1 { top:46px; }
.header, .footer { left: 0; position: fixed; width: 100%; z-index: 999; margin:0; padding:0; }
.header { top:0; }
.tab_box { background:url() repeat-x left top; height:37px; padding:0; width:100%; }
.tabs { margin: 0; padding:0; list-style:none outside; overflow: hidden; display:block; }
.tabs li { width:100%; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background:url("../img/tab_bg.png") repeat-x 0 -38px; }
.tabs.two li { width:50%; }
.tabs li:last-child a { background:none; }
.tabs .ui-link, .tabs .ui-link:hover { color:#fff; font-weight:normal; }
.tabs li a { height:37px; line-height:37px; font-size:14px; text-align:center; border:0; display:block; color:#fff; text-decoration:none; background:url(../img/tab_bg.png) no-repeat right -76px; }
.tabs li.active { background:url(../img/tab_bg.png) repeat-x left 0; }
.footer { bottom:0;/*margin-top: 40px; */ height:57px !important; background:#e4e4e4; }
/********** header *************/
.header .back.nobg, .header .logout.nobg { background:none; }
.header .logo { background:#ebebe7; height:37px; padding:5px 0 4px; text-align: center; vertical-align:middle; }
.header .back, .header .logout { background:url(../img/back.png) no-repeat center center; width:51px; height: 46px; display:block; cursor:pointer; }
.header .back { float:left; }
.header .logout { background:url(../img/logout.png) no-repeat center center; float:right; }
.content { /*background: none repeat scroll 0 0 #FFFFFF;*/ height: 100%; /*min-height: 380px;*/ overflow: hidden; padding: 0; }
.footer ul, .footer li { list-style: outside none; margin:0; padding:0; height:100%; width:100%; }
.footer_nav { background:none; bottom:0; height:100%; }
.footer_nav li { float:left; width:20%; background:url(../img/footer_divider.png) no-repeat right top, url(../img/footer_bg.png) repeat-x left top; cursor:pointer; }
.footer_nav li.active { background:url(../img/footer_divider.png) no-repeat right top, url(../img/footer_bg_hover.png) repeat-x left top; }
.footer_nav li:last-child { background:url(../img/footer_bg.png) repeat-x left top; }
.footer_nav li:last-child.active { background:url(../img/footer_bg_hover.png) repeat-x left top; }
.footer_nav a { background-image:url(../img/footer_menu.png); background-repeat:no-repeat; height:100%; width:64px; display:table; position:relative; z-index:1000; margin:0 auto !important; background-size: 684px auto; }
.footer_nav a.icon_menu { background-position:0 0; }
.footer_nav a.icon_account { background-position:-321px 0; }
.footer_nav a.icon_fundTrans { background-position:-128px 0; }
.footer_nav a.icon_billpay { background-position:-64px 0; }
.footer_nav a.icon_settings { background-position:-192px 0; }
.footer_nav a.icon_cards { background-position:-385px 0; }
.footer_nav li.active a.icon_cards {background-position: -385px -57px;}
.footer_nav a.icon_more { background-position:-256px 0; }
.footer_nav a.icon_msg { background-position:-403px 0; position:relative; }
.footer_nav a.icon_accsam { background-position:-484px 0; }
.footer_nav a.icon_transact { background-position:-563px 0; }
.footer_nav a.icon_otheropt { background-position:-578px 0; }
.footer_nav a.icon_prev { background-position:-640px 0; }
.footer_nav a.icon_credit { background-position:-384px 0; }
.footer_nav a.icon_demat { background-position:-448px 0; }
.footer_nav a.icon_debit { background-position:-192px 0; }
.footer_nav a.icon_mf { background-position:-518px 0; }
.footer_nav li.active a.icon_menu { background-position:0 -57px; }
.footer_nav li.active a.icon_account { background-position:-321px -57px; }
.footer_nav li.active a.icon_fundTrans { background-position:-128px -57px; }
.footer_nav li.active a.icon_billpay { background-position:-64px -57px; }
.footer_nav li.active a.icon_settings { background-position:-192px -57px; }
.footer_nav li.active a.icon_more { background-position:-256px -57px; }
.footer_nav li.active a.icon_msg { background-position:-403px -57px; }
.footer_nav li.active a.icon_accsam { background-position:-484px -57px; }
.footer_nav li.active a.icon_transact { background-position:-563px -57px; }
.footer_nav li.active a.icon_otheropt { background-position:-578px -57px; }
.footer_nav li.active a.icon_prev { background-position:-640px -57px; }
.footer_nav li.active a.icon_credit { background-position:-384px -57px; }

.footer_nav li.active a.icon_demat { background-position:-448px -57px; }
.footer_nav li.active a.icon_debit { background-position:-192px -57px; }
.footer_nav li.active a.icon_mf { background-position:-518px -57px; }
/************* UID *************/
.content h1, .h_title { font-weight:normal; font-size:18px; height:30px; line-height:30px; margin:0; padding-left:18px; padding-top:3px; color:#fff; position:relative; background: #ee1c24 url(../img/redStrip.png) repeat-x left bottom; }
/*.h_title:after { content:url(../img/titleArw.png); position:absolute; left:50%; margin-left:-9px; top:22px; z-index: 10; }*/
.uid_box h1 { background:none; padding:0 0 8px; }
.uid_box { padding:10px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:100%; float:left; }
.success { text-align:center; }
.success img { display:table; margin:10px auto; }
.pl_note { margin:-10px 0 10px !important; }
.error > img { float:left; margin-right:10px; }
.error > label { padding-top:2px; }
.loginCheckBox { padding-right:20px; }
.menu_box { padding:0; margin:auto; max-width: 80%; overflow:hidden; }
.menu_box.three { max-width:100%; }
.menu_box .mnu_row { padding:0; margin-bottom:30px; position: relative; list-style: none outside; width: 50%; float: left; }
.menu_box.three .mnu_row { }
.menu_box .mnu_row a { display:block; min-width: 80px; margin: auto; }
.menu_box .last { border:0 none; }
.menu_box .mnu_icon { background: url("../img/menu_home.png") no-repeat scroll center 0 rgba(0, 0, 0, 0); height: 64px; width:100%; display:block; vertical-align:middle; text-align:center; }
.menu_box .mnu_txt { font-size:18px; color:#6c6c6c; line-height:normal; display:block; vertical-align:middle; padding:0; text-align: center; white-space:nowrap; margin-top:5px; }
.menu_box.three .mnu_txt { white-space:normal; }
.menu_box .leads { background-position:center -83px;}
.menu_box .fa { background-position:center -164px; }
.menu_box .va { background-position:center -245px; }
.menu_box .rpt { background-position:center -326px; }
.menu_box .aad { background-position:center -406px; }

.mnu_list { color:#004a8f; line-height:22px; width:100%; float:left; padding:7px 0 7px; border-bottom:1px solid #e5e8eb; position:relative; }
.mnu_list .list_name, .mnu_list .list_id { float:left; clear:both; font-size:17px; }
.mnu_list .list_id { font-size:15px; }
.list_arw { background:url(../img/list_right_arw.png) no-repeat center right; position:absolute; top:50%; right:0; margin-top:-8.5px; width:15px; height:17px; margin-right: 10px; }
label.error { color:white; border:1px solid #fff; padding:8px; margin-top:8px; margin-bottom:0; }
label.error:before { content:url(../img/lblError.png); position:relative; top:2px; padding-right: 5px; }


.fielderror label.error:before { 
			content:url(../img/lblErrorBlue.png) !important; 
			position:relative; top:2px;
			padding-right: 5px;
			
 }


.info_row, .info_row2 { padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; }

.menu_box.home_menu { padding:0; margin:auto; max-width: 80%; overflow:hidden; }
.menu_box.home_menu.three { max-width:100%; }
.menu_box.home_menu .mnu_row { padding:0; margin-bottom:30px; position: relative; list-style: none outside; width: 100%; float: left; }
.menu_box.home_menu.three .mnu_row { }
.menu_box .home_menu.mnu_row a { display: table; min-width: 80px; /* margin: auto; */ /* width: 100%; */}
.menu_box.home_menu .last { border:0 none; }
.menu_box.home_menu .mnu_icon { height: 64px; width: 75px; display:table-cell; vertical-align:middle; text-align: left; }
.menu_box.home_menu .mnu_txt { font-size:18px; color:#6c6c6c; line-height:normal; display: table-cell; vertical-align:middle; padding:0; text-align: left; white-space:nowrap; margin-top:5px; }
.menu_box.home_menu.three .mnu_txt { white-space:normal; }
/* Sumblock */

	.info_row { display:table; width:100%; }
.info_row_menu_left { min-height:30px; }
.info_row_menu_right { min-height:30px; }
.info_row2, .info_row3 { padding-left:10px; padding-right:10px; }
.linedivider { margin:0; }
.info_row label { display:table-cell; vertical-align:middle; }
/*	.summblock { margin:0 5px !important; }*/

.clsColorBlack {color:#000 !important; font-weight:bold;padding-top: 17px;font-size:20px}
.phoneImage { background:url(../img/contact.png) no-repeat center;width:41px; height:41px;border:0 none !important;top:3px;top: 9px;
position: relative;}
.info_row.bgff5354 {
background: #ff5354 url(../img/mdRedStrip.png) repeat-x left bottom;
}
.bgff5354Border {
background: #ff5354 repeat-x left bottom;
border-bottom: 1px solid #F11415;
color:#fff;
}
.info_rowBorderff6869{

background: #ff6869 repeat-x left bottom;
border-bottom: 1px solid #F11415;

}
.height50{
height:60px;
}
.customBack{
 background:url(../img/back.png) no-repeat center center; width:51px; height: 46px; display:block; cursor:pointer; float:left;
 top:10px;position:absolute;
}

.customBackOTP{
 background:url(../img/back.png) no-repeat center center; width:51px; height: 46px; display:block; cursor:pointer; float:left;
 top:0px;position:absolute;
}

    .termsAndCon{    text-align: RIGHT;
    position: absolute;
    bottom: 20px;
    width: 100%;
    right: 10px;
	z-index:9;}
	
	
	body
{
	width:100%;
	height:100%;
	margin:0;
}



/* home screen css */

.img1 {
	display:block;
	position:static;
	clear: both;
}


.img2 {
display:block;
	position:static;
	clear: both;
	
}

.img1:after {
    clear: both;
}

.main {
	width:100%;
	height:100%;
	overflow: hidden;
	 /* margin-left: 2%;
	margin-right: 2%; */
}

.logo-header
{
	width:100%;
	height:10%;	
	padding:0px;
	margin:0px;
}

.image-banner
{
	width:100%;
	height:43%;
	/* margin-left:12px;
	margin-right:12px; */
	
	margin-top:1%;
	
	
}

.txt-label
{
	text-align:center;
	font-size:14px;
	color:#2E367A;
	margin-top: 54px;
	/* padding-bottom: 1%; */
	
}

.dots
{
	
	vertical-align:middle;
	text-align: center;
	/* float: left; */
	/* margin-left: 27px; */
	margin-top:5px;
	
	
}

.dot-fill
{
	
	margin-left: 12px;
}

.contain {
	
	width:100%;
	/*  vertical-align: bottom;   */
		/* position:fixed; */
	height:25%;
	/* bottom:13% */
	position:absolute;
	top: 58%;
	bottom:0;
	margin-top:15px;
	

}

.table_icons {
	width: 100%;
	
	/*  border-collapse:separate; */
	  border-spacing: 12px 12px;
    
}

.td-border
{
	border:1px solid;
	border-color:#ac9b9b;
	
	
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

#register_btn {
 
 width: 100%;
 height: 100%;
 background-color: #2E367A;
 color: white;
 border: none;
 outline: none;
 font-size:15px; 
}

#login_btn {
 
 width: 100%;
 height: 100%;
 background-color: #E31E24;
 color: white;
 border: none;
 font-size:15px; 
}

.txt_home
{
   text-decoration: none;
   color: black;
   font-size:14px; 
   vertical-align: middle;
  
   

 
}

.cart-menu1
{
 /* vertical-align: middle; */
 height:70%;
}
.cart-menu2
{
 /* vertical-align: middle; */
 height:70%;
}

.cart-menu
{
 display:inline-block;
 width:30%;
 text-align: center; 
 border:1px solid #ac9b9b;
 /* height:17vh; */
 height:100%; 
  margin:1%;
 vertical-align: middle; 
 position: relative;
 
 
 
}

.no-border 
{
  border:0 !important; 
 
}

.txt-cart
{ 
   position: absolute;
   top: 70%;   
   text-align: center;
   width: 100%;     
}

.img-menu
{
  
   position: absolute;
   top: 50%;
   left:50%;
   margin-top: -25px;  
   margin-left : -20px;
}
.div-empty
{
 display:inline-block;;
 width:10%;
 border:0 !important;  
 margin:1%;
 height: 2%;
}

/* keyboard css */



.keyboard-body {
 font: 71%/1.5 Verdana, Sans-Serif;
 background: #ded4d4;
 padding:0;
 margin:0;
 overflow: auto;
 height: 100%;
} 

#keyboard-container {
 width: 100%;
}


.keyboard-rcorner {
 border-radius: 180px;    
 border: 1px solid grey;    
 width: 12px;
 height: 12px;    

margin-bottom:1.5%;

 margin-left:2%;
 background: #ded4d4;
 display:inline-block;
 
}

#keyboard-inputField {
 width: 67%;
   text-align: right; 
   padding-right:2%;
     display:inline-block;
    
   
 } 
 
#keyboard-imgSrc {
   display:inline-block;
 text-align:right;
    width:10%; 
   height:5%;
  /*  margin-left: 5%;   */
/*    padding:0%; */
   /* padding-bottom:3%; */
  
}


#keyboard-txt
{
   text-decoration: none;
   color: black;  
}

.keyboard-foot
{
	
	width:100%;
	
/*  font-size:0; 
 margin-left:5%;
 margin-right:5%;  */
}
 
.keyboard-mpin{
  display:inline-block;
 width: 45%;
/*  font-size: 13px; */
 text-align: left; 
 
 
}


.keyboard-change{
    display:inline-block;
   width: 45%; 
 /* font-size: 13px; */
 text-align: right;
 /*  margin-right: 0%; 
 padding-right:0%; */
}

.upper-btn
{
	
background-color: #2E367A;	
	color: white;
	border: none;
	outline: none;
	font-size:12px;
	height:35px;
	width:145px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 4px;
}


.lower-btn
{
	
background-color: #E31E24;
	color: white;
	border: none;
	outline: none;
	font-size:12px;
	height:35px;
	width:145px;
	font-weight: bold;
	 padding-top: 4px;
	
}
 
 
 

.keyboard-faq{
 text-align: left; 
 display:inline-block; 
 width: 45%;
  /*   font-size: 13px; */
 vertical-align: middle;
 line-height: normal;
}

.keyboard-tc{
 display:inline-block;
 text-align: right;
    width: 45%;
    /* font-size: 13px; */  
    vertical-align: middle;
    line-height: normal;
}


#keyboard-change{
   display:inline-block;
   text-align: right;
   width:30%;
   margin-left: 0%;
     
} 


#keyboard-write {
 display:inline-block;
 margin: 0 0 0px;
 -webkit-text-security: disc;
 margin-bottom: 7%;
 margin-left: 10%;
 padding-left: 10px; 
 letter-spacing: 20px;
    height: 7%;
    width:100%;
 font-size: 33px;
 text-align:left;
 color:black;
 border: 1px solid #f9f9f9; 
 /* -moz-border-radius: 5px;
 -webkit-border-radius: 5px; */
 -webkit-text-security: disc;
 
 
}



#keyboard-rock {
    width: 30px;
    height: 30px;
    background-image: url('images/icon.png');
    background-repeat: no-repeat;
}

.keyboard-remove-border
{
 border:0px !important;
}
#keyboard-title{
    text-align: center;
    margin-top: 2%;
    font-size: 14px;
    color:gray;
}

#keyboard-keypad{
 width: 100%;
/*  margin-left: 1%;
 margin-right: 10%; */
 text-align: center;  
}

.keyboard-ui-listview
{
 outline:none !important;
 outline-color: none;
 outline-style: none;
} 

.keyboard-ui-btn-active
{
 outline:none !important;
 outline-color: none;
 outline-style: none;
 
}

.keyboard-ui-state-focus:focus {
 outline:none !important;
 outline-color: none;
 outline-style: none;
  }


#keyboard ui:focus{
  /* outline:none !important;
 outline-color: none;
 outline-style: none; */
 outline-color: red;
  border: 1px solid red;
}

#keyboard li:focus{
  /* outline:none !important;
 outline-color: none;
 outline-style: none; */
 outline-color: red;
  border: 1px solid red;
}

.ul.special .list-group-item{
border: 0 !important;
}

.list-group.special .list-group-item {
   border-width:0px;
}


#keyboard li {
 
 margin: 0 0px 0px 0; 
 
 width:65px;
 height:65px;
  line-height: 65px; 
 text-align: center;
 vertical-align : middle;
 
 color: gray;
 border: 2px solid #193380;
 -moz-border-radius: 45px;
 -webkit-border-radius: 45px;
 border-radius: 45px;
 font-size: 25px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block;
  background-color: #ded4d4; 
}

#keyboard button {
 
 margin: 0 0px 0px 0; 
 
 width:65px;
 height:65px;
  line-height: 60px; 
 text-align: center;
 vertical-align : middle;
 
 color: gray;
 border: 2px solid #193380;
 -moz-border-radius: 45px;
 -webkit-border-radius: 45px;
 border-radius: 45px;
 font-size: 25px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block; 
  background-color: #ded4d4;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 480px) {
	
#keyboard button {
 
 margin: 0 0px 0px 0; 
 
 width:52px;
 height:52px;
  line-height: 48px; 
 text-align: center;
 vertical-align : middle;
 
 color: gray;
 border: 2px solid #193380;
 -moz-border-radius: 39px;
 -webkit-border-radius: 39px;
 border-radius: 39px;
 font-size: 17px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block;
  background-color: #ded4d4; 
}
}

@media only screen and (min-device-width: 540px) and (max-device-width: 540px) {
#keyboard button {
 
 margin: 0 0px 0px 0;  
 width:60px;
 height:60px;
  line-height: 56px; 
 text-align: center;
 vertical-align : middle; 
 color: grey;
 border: 2px solid #193380;
 -moz-border-radius: 60px;
 -webkit-border-radius: 60px;
 border-radius: 60px;
 font-size: 20px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block; 
  background-color: #ded4d4;
}
}


@media only screen and (min-device-width: 600px) and (max-device-width: 600px) {
#keyboard button {
 
 margin: 0 0px 0px 0;  
 width:100px;
 height:100px;
  line-height: 90px; 
 text-align: center;
 vertical-align : middle; 
 color: gray;
 border: 2px solid #193380;
 -moz-border-radius: 60px;
 -webkit-border-radius: 60px;
 border-radius: 60px;
 font-size: 20px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block; 
  background-color: #ded4d4;
}
}

@media only screen and (min-device-width: 720px) and (max-device-width: 720px) {
#keyboard button {
 
 margin: 0 0px 0px 0; 
 
 width:65px;
 height:65px;
  line-height: 60px;
 text-align: center;
 vertical-align : middle;
 
 color: gray;
 border: 2px solid #193380;
 -moz-border-radius: 45px;
 -webkit-border-radius: 45px;
 border-radius: 45px;
 font-size: 20px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none;
 display:inline-block;
  background-color: #ded4d4;
}
}

@media only screen and (min-device-width: 800px) and (max-device-width: 800px) and (min-resolution:113dpi) and (min-resolution: 1dppx){

	#keyboard button {
 
 margin: 0 0px 0px 0;  
 width:125px;
 height:125px;
  line-height: 115px; 
 text-align: center;
 vertical-align : middle; 
 color: grey;
 border: 2px solid #193380;
 -moz-border-radius: 95px;
 -webkit-border-radius: 95px;
 border-radius: 95px;
 font-size: 25px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block;
  background-color: #ded4d4; 
}
	
}	

@media only screen and (min-device-width: 800px) and (max-device-width: 800px) and (min-resolution:149.4dpi) and (min-resolution: 1dppx) {

	#keyboard button {
 
 margin: 0 0px 0px 0; 
 
 width:180px;
 height:180px;
  line-height: 160px; 
 text-align: center;
 vertical-align : middle;
 
 color: gray;
 border: 2px solid #193380;
 -moz-border-radius: 95px;
 -webkit-border-radius: 95px;
 border-radius: 95px;
 font-size: 30px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block; 
  background-color: #ded4d4;
}
	
}	


@media only screen and (min-device-width: 1080px) and (max-device-width: 1080px) {
#keyboard button {
 
 margin: 0 0px 0px 0; 
 
 width:60px;
 height:60px;
  line-height: 56px; 
 text-align: center;
 vertical-align : middle;
 
 color: gray;
 border: 2px solid #193380;
 -moz-border-radius: 45px;
 -webkit-border-radius: 45px;
 border-radius: 45px;
 font-size: 20px;
 font-weight:bold;
 /*  margin-left: 5%;  */
  /*  margin-bottom: 1%;  */
  
  outline-color: none;
 outline-style: none; 
 display:inline-block; 
 background-color: #ded4d4;
}
}


                                      
.keyboard-off1 {
 display:block;
 width:100px;
 height:100px;
 border-radius:50px;
 font-size:20px;
 
 text-align:center;
}

.capslock, .tab, .left-shift {
 clear: left;
}

#keyboard-imgBackground{
    list-style-image: url('icon.png');
}

#keyboard .tab, #keyboard .delete {
 width: 30%;
 height: 5%;
 background: url(images/icon.png);
}

#keyboard .capslock {
 width: 80px;
}

#keyboard .return {
 width: 77px;
}

#keyboard .left-shift {
 width: 95px;
}

#keyboard .right-shift {
 width: 109px;
}

.lastitem {
 width: 30%;
 height: 5%;
}

#backbutton{
 background-image: url("images/icon.png") no-repeat;
}

.uppercase {
 text-transform: uppercase;
}

#keyboard .space {
 clear: left;
 width: 681px;
}

.on {
 display: none;
}

#keyboard li:hover {
 position: relative;
 top: 1px;
 left: 1px;
 border-color: #e5e5e5;
 cursor: pointer;
}

/*CSS style for two horizontal button */
/*Start*/
.payee-btn { background-color: gray;	
	color: white;
  	border : none;
	outline: none;
	font-size:17px;
	height:55px;
	width:50%;
	/* font-weight: bold; */
	text-align: center;
	vertical-align: middle;
	padding-top: 4px;
	white-space: normal;
	}
  
 .addPayee-btn { 
	border-right: 1px solid ;
	float: left;
	}
  
 .deletePayee-btn { 
	border-left: 1px solid ;
	clear: left;
  }
  
  /* OTP buttons */
  
  .button_confirm {
	width: 45% !important;
	height: 45px !important;
	float: left;
	background-color: #2E367A;
	color: white;
	font-size: 18px;
}

.button_OTP {
	width: 45%;
	height: 45px;
	float: right;
	background-color: #2E367A;
	color: white;
	font-size: 18px;
	display: table;
	margin: auto;
	border: none;
	outline: none;
}

.beneficiearyNote {
color: #5B5B5F;
line-height: 18px;
font-size: 20px;
padding: 5px 15px;}

 /*End*/