<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	
	<section id="contentData" class="dynamic-page-content">
		
		<div id="wrapper" style="top:79px;">
		  <div class="content sub_content">		
		<div data-bind="foreach: ccaccountList">
			<div class="summblock">
				
				<div class="info_row  dark_header"  data-bind="attr:{id:codacctno}" onclick="cardinfo(this.id);"><span class="info_row_left">Card Number</span> 
				 <span class="info_row_right" data-bind="text: cardno">503000000030211</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Product</span> 
				<span class="info_row_right" data-bind="text: productName">-</span>
					<div class="clearfix"></div>
				</div>
				<!-- ko if: isPrimary == true -->
				<div class="info_row odd"><span class="info_row_left">Credit Limit</span> 
				<span class="info_row_right" data-bind="text: availableCreditLimit">-</span>
					<div class="clearfix"></div>
				</div>
				<!-- /ko -->
				<div class="info_row odd"><span class="info_row_left">Card Type</span> 
				<span class="info_row_right" data-bind="text: cardtype">-</span>
					<div class="clearfix"></div>
				</div>
				
				
			</div>
		</div>	
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>


