<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	
	<section class="dynamic-page-content" id="contentData">
			<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
			<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
				<div id="wrapper">
					<div class="content sub_content">
				  
				  
						<div>
							<form class="custStyleInput" name="frmccreg" id="frmccreg" method="post" data-bind='submit: regCCsubmit'>
								<div id="tptCont" class="topBox" style="display:block;">
								
									<fieldset class="bgff6869">
										<label>Enter your Card Number</label>
										<input type="tel" name="ccnumber" id="ccnumber" maxlength="16" minlength="16" value="" size="16" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
									</fieldset>
									
									<fieldset class="bgff6869 date_picker">
										<label>Date of Birth</label>
										<span id="show_date" class="date_icon"></span>
										<input type="text" readonly="readonly" name="fldFromDate" placeholder="DOB" id="fldFromDate" size="10" />
									</fieldset>	
									
									<fieldset class="bgff6869">
										<label class="no_mar">Credit Card Expiry</label>										
									</fieldset>	
									
									<fieldset class="bgff6869">
										<label>Months (MM)</label>
										<select name="cardExpMonth" id="cardExpMonth" class='styled'>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										</select>
									</fieldset>
									
									<fieldset class="bgff6869">
										<label>Year(YYYY)</label>
										<select name='cardExpYear' id='cardExpYear' class='styled'>
										<option></option>
										</select>
									</fieldset>
									
									<fieldset class="bgff6869" style='display:none;'>
										<label>Credit Card CVV</label>
										<input type="password" name="cvvnumber" id="cvvnumber" maxlength="3" minlength="3" value="" size="3" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" style="float:left;"/>
										</select>
									</fieldset>

									<div class="bgded4d4">					 
										<div class="clearfix"></div>
										<fieldset>
											<input type="submit" class="btn" value="Continue" id="confirm_button1">
										</fieldset>
										<div class="clearfix" style="height:30px;"></div>	
									</div>
								
								</div>	
						
							</form> 
						</div>
					</div>
				</div>

			<script type="text/javascript">
			$('#cardExpYear').empty();
			var min = new Date().getFullYear(),
				max = min + 15,
				select = document.getElementById('cardExpYear');

			for (var i = min; i<=max; i++){
				var opt = document.createElement('option');
				opt.value = i.toString();
				opt.innerHTML =i.toString();
				select.appendChild(opt);
			}

			$("#frmccreg").validate({
				rules: {
					ccnumber: "required",
					cvvnumber: "required",
					cardExpMonth: "required",
					cardExpYear: "required",
					fldFromDate: "required"
				},
				messages: {
					ccnumber: "Enter Credit Card number",
					cvvnumber: "Enter Credit Card CVV number",
					cardExpMonth: "Select Month",	
					cardExpYear: "Select Year",
					fldFromDate: "Enter Date Of Birth"
				}
			});
			
$(function(){
		var now = new Date();
	    $('#fldFromDate,#fldToDate').scroller({
	        preset: 'date',
	        theme: 'android',
	        display: 'modal',
	        mode: 'scroller',
	        dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10
});

$('#show_date1').click(function(){
  $('#fldToDate').scroller('show'); 
  return false;
});

$('#show_date').click(function(){
  $('#fldFromDate').scroller('show'); 
  return false;
});

$('#clear').click(function () {
  $('#fldFromDate').val('');
  return false;
});
});


			</script>
		
		</section>
	</section>

