<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	
	<section class="dynamic-page-content" id="contentData">
			<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
			<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
				<div id="wrapper">
					<div class="content sub_content">
				  
				  
						<div>
							<form class="custStyleInput" name="frmccemi" id="frmccemi" method="post" data-bind='submit: CCTrasnsubmit'>
								<div id="tptCont" class="topBox" style="display:block;">
								
									<fieldset class="bgff6869">
										<label class="selLbl">Select Credit Card</label>
										<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: ccaccountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value:'', optionsCaption: '-Select-'"></select>
									</fieldset>	
									
									</fieldset>	
									
									<div class="bgded4d4">					 
										<div class="clearfix"></div>
										<fieldset>
											<input type="submit" class="btn" value="View Transactions" id="confirm_button1">
										</fieldset>
										<div class="clearfix" style="height:30px;"></div>	
									</div>
								
								</div>	
						
							</form> 
						</div>
					</div>
				</div>

			<script type="text/javascript">
			
			$("#frmccemi").validate({
				rules: {
					fldFromAcctNo: "required"
					
				},
				messages: {
					fldFromAcctNo: "Select Credit Card number"
					
				}
			});

			</script>
		
		</section>
	</section>

