<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	
	<section class="dynamic-page-content" id="contentData">
			<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
			<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
				<div id="wrapper">
					<div class="content sub_content">
				  
				  
						<div>
							<form class="custStyleInput" name="frmccemi" id="frmccemi" method="post" data-bind='submit: CCPaySubmit'>
								<div id="tptCont" class="topBox" style="display:block;">
									
									<fieldset class="bgff6869">
										<label class="selLbl">From Account</label>
										<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: accountListCC, optionsText: 'displaytxt', optionsValue: 'codacctno', value: '',optionsCaption: '-Select-'"></select>
									</fieldset>	

									<fieldset class="bgff6869">
										<label class="selLbl">Select Credit Card</label>
										<select name="ccNo" id="ccNo" data-bind="options: ccAccountsPay, optionsText: 'displaytxt', optionsValue: 'codacctno', value:'', event: {change:changeCCbal}"></select>
									</fieldset>	
									
									<fieldset class="bgff6869">
										<select name="balance" id="balance" onchange="amntchange()"}>
											 <option id='1' value="35000">Last Statement Bal</option>
											 <option id='2' value="10000">Minimum Amount Due</option>
											 <option value="other">Other Amount</option>
										</select>
									</fieldset>	

									<fieldset class="bgff6869">
										<label>Deposit Amount: </label>
										<input type="tel" name="fldDepositAmt" id="fldDepositAmt" class='fldDepositAmt' onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" style="float:left;"/>
									</fieldset>	


									<div class="bgded4d4">					 
										<div class="clearfix"></div>
										<fieldset>
											<input type="submit" class="btn" value="Pay Bill" id="confirm_button1">
										</fieldset>
										<div class="clearfix" style="height:30px;"></div>	
									</div>
								
								</div>	
						
							</form> 
						</div>
					</div>
				</div>

			<script type="text/javascript">
			amntchange();
			function amntchange(){
				amnt = $('#balance').val();
				if(amnt != 'other'){
					$('#fldDepositAmt').val(amnt);
					$('#fldDepositAmt').prop('disabled', true);
				}
				else{
					$('#fldDepositAmt').val('');
					$('#fldDepositAmt').prop('disabled', false);
				}
			}
			
			$("#frmccemi").validate({
				rules: {
					fldFromAcctNo: "required",
					ccNo: "required",
					fldDepositAmt: "required"
					
				},
				messages: {
					fldFromAcctNo: "Select Account",
					ccNo: "Select Credit Card number",
					fldDepositAmt: "Enter Amount"
				}
			});

			</script>
		
		</section>
	</section>

