<style>

</style>
<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
					
	<form name="frmrd" id="frmrd"  method="post" data-bind='submit: CCRegSubmit'>
	<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Card Number</span> <span class="info_row_right f18 cardnumber" ></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">D.O.B.</span> <span class="info_row_right dob"></span>
						<div class="clearfix"></div>
				</div>

				
				<div class="info_row"> <span class="info_row_left">Expiry Months (MM)</span> <span class="info_row_right validmontjh"></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">Expiry Year (YY)</span> <span class="info_row_right validyear"></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row" style="display:none;"> <span class="info_row_left">Credit Card CVV</span> <span class="info_row_right creditcvv"></span>
						<div class="clearfix"></div>
				</div>
			
				<div class="info_row" style="display:none;"> <span class="info_row_left">Deposit Period</span> <span class="info_row_right request"></span>
					<div class="clearfix"></div>
				</div>

			
				<div class="info_row" style="display:none;" id="OTPref"><span class="info_row_left">OTP Ref No</span> <span class="info_row_right " ><input type="text" name="OTp_No" id="OTP_Ref" size="10"></span>
							<div class="clearfix"></div>
				</div>		
         
				<div class="info_row"  id="OTP_No"> <span class="info_row_left">OTP No</span> <span class="info_row_right "><input type="password" name="OTp_No" id="OTP_No_Val" minlength="6" maxlength="6" size="10">
					<div class="clearfix"></div>			
						
						<a id='btn' style="margin-top: 8px;display: block;margin-bottom: 3px; font-size: 16px;" onclick="otpcall()">Resend OTP</a>
						<div class="clearfix"></div>
					</span>
					<div class="clearfix"></div>
				</div>			
	</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="" />
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>
				
		     
			</form>
					</div>
	</div>
</section>

<script type="text/javascript">
function otpcall(){
	var otptest = 'otp';
        CCRegSubmit(otptest); 

}


$("#frmrd").validate({
	rules: {
		OTp_No: "required",		
	},
	messages: {
		
		OTp_No:"Please Enter OTP No.",		
	}
});

</script>