<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
<script type="text/javascript" src="js/common.js"></script>
<section class="dynamic-page-content" id="contentData">
		
		<div id="wrapper">
				
			  <div class="content sub_content">
			  
			  	<div class="topBox">
				
				<fieldset class="bgff5354">
					<label class="selLbl">Credit Card No</label>
					<select name="fldAcctNo" id="fldAcctNo" data-bind="options: ccaccountList,  optionsText:  'displaytxt', optionsValue: 'codacctno', value: selAccountCC, event: {change:showSelectedAccountCC}">
					</select>	
				</fieldset>
					
				<fieldset class="bgff6869">
						<label>Credit Limit</label>
						<span class="f21" data-bind="text:curraccbalvalcc"></span>
						<div class="clearfix" style="height:20px;"></div>
				</fieldset>
				</div>
			  
				<div class="info_row subTitle dark_header"> <span>Enquiry</span></div>
				<div class="listRow">
					  <a href="#ccsummary">
					  <div class="info_row odd"> <span class="info_row_menu_left"><img src="img/credit_card_summary.png"></span><span class="info_row_menu_right page_title_carousel">Card Summary</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
					  </a>
					  <div class="clearfix"></div>
					  <div class="linedivider"></div>
					  <div class="clearfix"></div>
					  <a href="#cardInformation">
					  <div class="info_row odd"> <span class="info_row_menu_left"><img src="img/credit_card_info.png"></span><span class="info_row_menu_right page_title_carousel">Card Information</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
					  </a>
					   <div class="clearfix"></div>
					  <div class="linedivider"></div>
					  <div class="clearfix"></div>
					  <a href="#CCUnbilled" >
					  <div class="info_row even"> <span class="info_row_menu_left"><img src="img/view_unbilled_transactions.png"></span><span class="info_row_menu_right page_title_carousel">View Un-billed transactions</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					  </div>
					  </a>
					   <div class="clearfix"></div>
					  <div class="linedivider"></div>
					  <div class="clearfix"></div>
					  <a href="#CCLoanEnquiry" >
					  <div class="info_row even"> <span class="info_row_menu_left"><img src="img/loan_enquiry_status.png"></span><span class="info_row_menu_right page_title_carousel">Your EMI request</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					  </div>
				</div>
				<div class="clearfix"></div>
				<div class="info_row subTitle dark_header"> <span>Transact</span></div>
				<div class="listRow">
					<a href="#CC_register">
					<div class="info_row odd"> <span class="info_row_menu_left"><img src="img/register_new_card.png"></span><span class="info_row_menu_right page_title_carousel">Register other RBL Card</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					</div>
					</a>
					<div class="clearfix"></div>
					<div class="linedivider"></div>
					<div class="clearfix"></div>
					<a href="#CCconverEMI">
					<div class="info_row odd"> <span class="info_row_menu_left"><img src="img/convert_to_EMI.png"></span><span class="info_row_menu_right page_title_carousel">Convert into EMI instantly</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					</div>
					</a>
					<div class="clearfix"></div>
					<div class="linedivider"></div>
					<div class="clearfix"></div>
					<a href="#CCPaymentHome">
					<div class="info_row odd"> <span class="info_row_menu_left"><img src="img/credit_card_payment.png"></span><span class="info_row_menu_right page_title_carousel">Make a payment</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					</div>
					</a>
				</div>
				
				
			  <!-- /content --> 
			  
			</div>
		</div>
		
		</section>
