<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	
	<section id="contentData" class="dynamic-page-content">
		
		
		<div id="wrapper" style="top:79px;">
		  <div class="content sub_content">		
		<div data-bind="foreach: CCcardinfo">
			<div class="summblock">
				
				<div class="info_row  dark_header"><span class="info_row_left">Card Number</span> 
				 <span class="info_row_right" data-bind="text: acctnumber">503000000030211</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Total Credit Limit</span> 
				<span class="info_row_right " data-bind="text: totalCreditLimit">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even" ><span class="info_row_left">Available Credit Limit</span> 
				<span class="info_row_right " data-bind="text: availableCreditLimit">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd" style='display:none;'><span class="info_row_left">Available Cash Limit</span> 
				<span class="info_row_right " data-bind="text: availableCashLimit">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Total Billed Amount (Balance as per last month's statement)</span> 
					<span class="info_row_right " data-bind="text:totalAmountDue">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Minimum Amount Due</span> 
					<span class="info_row_right " data-bind="text: minimumAmountDue">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Payment Due Date (as per last statement)</span> 
					<span class="info_row_right " data-bind="text: paymentDuedate">0.00</span>
					<div class="clearfix"></div>
				</div>
					
				<div class="info_row odd" style='display:none;'><span class="info_row_left">Total Unbilled Debits (Debit transactions after last statement)</span> 
				<span class="info_row_right" data-bind="text: totalUnbilledDebits">0.00</span>
					<div class="clearfix"></div>
				</div>
					
				<div class="info_row even" style='display:none;'><span class="info_row_left">Total Unbilled Credits (Credit transactions after last statement, including payments)</span> 
				<span class="info_row_right" data-bind="text: totalUnbilledCredits">0.00</span>
					<div class="clearfix"></div>
				</div>
				 
				<div class="info_row odd"><span class="info_row_left">Reward Points Balance - Last Statement</span> 
					<span class="info_row_right " data-bind="text: rewardsPointBalance">INR</span>
					<div class="clearfix"></div>
				</div>	
				
			</div>
		</div>	
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>

