<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
	.plan{ width: 45%;
    margin: 8px 5px 6px;
    border-radius: 15px;}
</style>
	
	<section id="contentData" class="dynamic-page-content">
		
		
		<div id="wrapper" style="top:79px;">
		
		  <div class="content sub_content">		
		<div data-bind="foreach: CCEMIdetails">
			<div class="summblock" data-bind="attr:{id:index}" onclick='EmiPlanDetails(this.id);'>
				
				<div class="info_row  dark_header">
				 <span class="info_row_left" style="width:100%;" data-bind="text: planName"></span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Term</span> 
				<span class="info_row_right " data-bind="text: tenureInMonths">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Rate Of Interest</span> 
				<span class="info_row_right " data-bind="text: rateOfInterest">-</span>
					<div class="clearfix"></div>
				</div>
				
			</div>
		</div>	
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>

