<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

<div id="wrapper" >
  <div class="content sub_content">
		<div class="info_row subTitle dark_header"> <span>Transact</span></div>
			
		<div class="listRow">
			<a href="#rrblp01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/billpay.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Bill Pay</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrpmb01">
			<div class="info_row even">
				<span class="info_row_menu_left"><img src="img/mobile_recharge.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Mobile Recharge</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrdth01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/DTH_recharge.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">DTH Recharge</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			
			<a href="#rrcrs01">
			<div class="info_row even">
				<span class="info_row_menu_left"><img src="img/recharge_status.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Check Recharge Status</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>

		</div>
			
  </div>
  <!-- /content --> 
  
</div>