<section class="dynamic-page-content" id="contentData">
<div id="wrapper">
  <div class="content sub_content">
	<div class="info_row odd" id="accExitsMsg" style="display:none;">
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht" style="width:72%;">
			You do not have any transactions for the selected Account.
		</span> 
  </div>

		
	<div id="ftsatus">
  		<div class="summblock" >

			<div class="summblock listItems">
					
				<div class="info_row"> <span class="info_row_left">Operator Name</span> <span class="info_row_right f18" id="operator_name"></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Subscriber Number</span> <span class="info_row_right f18" id="subcriber_no"></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Recharge Amount</span> <span class="info_row_right" id="rchg_amnt"></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Recharge Status</span> <span class="info_row_right" id="rchg_status"></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Transaction Reference Number</span> <span class="info_row_right" id="txn_ref_no"></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Transaction Date and Time</span><span class="info_row_right" id="txn_date"></span>
						<div class="clearfix"></div>
				</div>
					
			</div>
		</div>
   </div>
  </div>
</div>


</section>

	
	