
<section class="dynamic-page-content" id="contentData">
<style>
input.uppercase{  
					text-transform: uppercase;  
				}  
</style>

<div id="wrapper">
  <div class="content sub_content">
	<form class="custStyleInput" name="frmstatus01" id="frmstatus01" method="post" data-bind='submit: rrcrs01Submit' >
    <div  class="topBox" >

			<fieldset class="bgff6869">
				<label>Reference Number</label>
				<input type="text" name="fldTxnRefNo" id="fldTxnRefNo" value="" size="10" class="rs_fld uppercase"/>
			</fieldset>
	
			<div class="bgded4d4"> 
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" value="Submit" class="btn">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
			</div>
	</div>
		<div class="disclaimer">
	                        <b>Disclaimer:</b>
							<p>You can check your transaction Ref. No in the payment sms received.</p> 
							<p>Please note that if your recharge is not successful due to any reason, the debited amount will be reversed to your account within 3 to 5 days.</p>
		</div>
	</form> 
	
     
</div>
</div>
</section>
<script>
$("#frmstatus01").validate({
	rules: {
		fldTxnRefNo: "required",	
	},
	messages: {
		fldTxnRefNo: "Please enter the Reference number",								
	}
});
</script>			
		