<style>
	
</style>
<section class="dynamic-page-content" id="contentData">
<div id="wrapper">
<div class="content sub_content">
	
<form class="custStyleInput" name="frmrrdth02" id="frmrrdth02" method="post" data-bind='submit: rrdth02Submit'>
<div class="note"><p>Please verify and confirm recharge request.</p><br/></div>
	<div class="summblock listItems">
			<div class="info_row"> <span class="info_row_left">Bank Account</span> <span class="info_row_right f18" id="fldfromacctno" ></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">DTH Operator</span> <span class="info_row_right f18" id="flddthoperator" ></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Subscriber Number</span> <span class="info_row_right" id="fldsubno" ></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Amount</span> <span class="info_row_right" id="fldamttxnamnt" ></span>
						<div class="clearfix"></div>
					</div>

		<div style="display:none;" class="info_row" > <span class="info_row_left">OTP Ref No</span> <span class="info_row_right page_title_sub" >
			<input type="text" name="OTp_Ref" id="OTP_Ref" size="10">
			</span>
			<div class="clearfix"></div>
		  </div>
		<div class="info_row" id="OTP_No"> <span class="info_row_left">OTP No</span> <span class="info_row_right page_title_sub" >
			<input type="password" name="OTp_No" id="OTP_No_Val" minlength="6" maxlength="6" size="10">
				<div class="clearfix"></div>			
				<a id='btn' style="margin-top: 8px;display: block;margin-bottom: 3px; font-size: 16px;" onclick="GetOTP()">Resend OTP</a>
				<div class="clearfix"></div>
				</span>
			<div class="clearfix"></div>
		</div>
			
			
	</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="" />
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>
</form>
</div>
</div>
</section>
<script type="text/javascript">
$("#frmrrdth02").validate({
	rules: {
		OTp_No: "required",
	
	},
	messages: {
	    OTp_No:"Please Enter OTP No.",
	}
});

//resend otp count 3 function
var x = 0;

function resetcounter() {
    x = 0;
    $('#btn').show();
}

function count() {
    if(x<10)
    {
    x += 1;
        if(x==2){
			$('#btn').hide();
		}
    }
    else
    {
        x=0;
    }
}
$('#btn').click(

function() {
    count();   
});

</script>