<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<section class="dynamic-page-content" id="contentData">
		
	<div id="wrapper">
				
	<div class="content sub_content">
		<form class="custStyleInput" name="frmrrdth01" id="frmrrdth01" method="post" data-bind='submit:rrdth01Submit'>	  

		<div id="mobilerecharge">	  
			<div class="topBox">
				
				<fieldset class="bgff5354">
					<label class="selLbl">Select Bank Account</label>
					<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: fldFromAcctNo, optionsCaption: '-Select-'"></select>
				</fieldset>
				
				<fieldset class="bgff5354">
					<label class="selLbl">DTH Operator</label>
					<select name="fldoperator" id="fldoperator" data-bind="options: dthList, optionsText: 'displaytxt', optionsValue: 'values', optionsCaption: '-Select-'"></select>
				</fieldset>
				
				<fieldset class="bgff6869">
					<label>Enter Subscriber Number</label>
					<input type="text" id="fldsubno" name="fldsubno" value="" size="20"  minlength="5" maxlength="20" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				</fieldset>
				
				<fieldset class="bgff6869">
					<label>Amount</label>
					<input type="text" id="fldAmtTxn" name="fldAmtTxn" value="" size="10" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				</fieldset>
					
			</div>
			<fieldset>
				<input type="submit" value="Proceed" class="btn" id="confirm_button1"/>
				<div class="clearfix" style="height:10px;"></div>
			</fieldset> 
			
				 
			  <!-- /content --> 
		</div>
        </form>			
	</div>
		</div>
		</section>

<script type="text/javascript">

$("#frmrrdth01").validate({
	rules: {
		fldFromAcctNo: "required",
		fldoperator: {
                required: true            
        },
		fldAmtTxn: {
                required: true,
                min: 10                
        },
		fldsubno: {
                required: true,
        }
		
	},
	messages: {
		fldFromAcctNo: "Select Bank Account",
		fldoperator:{
			required : "Select DTH Operator",
		},
		fldAmtTxn: {
                required: "Enter Amount",
                min: "Amount should be greater than 10"                
        },
		fldsubno: {
                required: "Enter Subscriber Number",
        }
	}
});

</script>	