<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
			
						
				 
				<div class="clearfix"></div>
			</div>
				<div  style=" margin-left: 5px;">
			<img src="img/icon_ok.png" style="
    vertical-align: middle;">
			<span class="sucess_msg" style="
    vertical-align: middle;">Thank you</span>
			</div>
			<div class="success_msg">
			We have received your payment request. Please quote your Transaction Reference Number for any queries for the below payment.<span id="dthoper5" class="page_title_sub clsamttxn" style="word-wrap: break-word;display:none;"></span>
			</div>
					

			<div class="summblock">
			<div class="info_row  dark_header"> <span class="info_row_left clslineht">Reference No</span> 
			<span class="info_row_right " id="rchrefiddth">
				
				 </span>
				<div class="clearfix"></div>
			</div>
		
			
			
			
			
			<div class="info_row even"> <span class="info_row_left clslineht">DTH operator</span> 
			<span class="info_row_right " id="dthoper4">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"> <span class="info_row_left clslineht">Subscriber No</span> 
			<span class="info_row_right " id="dthnum4">
				 
			</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"> <span class="info_row_left clslineht">Recharge amount</span> 
			<span class="info_row_right " id="rechargeamtdth">
				 
			</span>
				<div class="clearfix"></div>
			</div>

			</div>
			
	
		
	</div>

	
