<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
	
		<form name="rrmr02" id="rrmr02" method="post" data-bind='submit: rrmr02submit'>
		<div class="summblock">
		
		 
		  
		 <div class="info_row dark_header"> <span class="info_row_left clslineht">Mobile Operator</span> 
		 <span class="info_row_right clslineht " id="Blisttxt1">			
			   </span>
			<div class="clearfix"></div>
		  </div> 
		
		
		  
		  <div class="info_row even"> <span class="info_row_left clslineht">Mobile No.</span> 
		  <span class="info_row_right clslineht " id="mobmob1">
				
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  </div>
		  
		  <br/>
		  
		  
		  
		  <!-- <div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div>
		  <div class="info_row3">
				<select name="fldAcceptTerms" id="fldAcceptTerms" class="styled">
					<option value="true">Accept</option>
					<option value="false">Decline</option>
				</select>
			</div>
		  </div>-->
		
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>

		
		  
		 <div class="clearfix20"></div>
		   <div class="info_row">
		    <input type="submit" class="button" value="confirm" >
		   </div>

           <input type="hidden" name="Blist1" id="Blist1" /> 
		</form>
</div>
</div>