<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	 
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left">Mobile No.</span> 
			 <span class="info_row_right">7597369531</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Mobile Operater</span> 
			<span class="info_row_right clslineht" style="word-wrap: break-word;">Vodafone</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Bank Account</span> 
			<span class="info_row_right clslineht"  style="word-wrap: break-word;" >12345678912</span>
				<div class="clearfix"></div>
			</div>
          			
		</div>
		 <br/><br/>	
		    <div>
		         <input type="submit" class="button" value="submit" />
	       </div>  
            <br/><br/>		   
         <div class="info_row"> 
    			<p><span id="errmsge" style="display:none;">You are registered for all alert types</span></p>
    			<br/>
				<p><b>Note:</b></p>
				<br/>
				<p>- if you are  not registered for TPT and choose to opt for the immediate biller addition optionyou will recieve error at the end  while adding the biller.Heance in case you are not registered or unaware or do not want to register for TPT please choose the offline biller additionabove for now. You may  check for TPT later by.</p>
			<div class="clearfix"></div>
			</div>
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>