<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
	
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left">Adanani Gas Limited</span> 
			 <span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right clslineht" style="word-wrap: break-word;">ABC</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Customer ID</span> 
			<span class="info_row_right clslineht"  style="word-wrap: break-word;" >123456789</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Meter Name</span> 
				<span class="info_row_right clslineht" >5000006622</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Bank Account</span> 
			<span class="info_row_right">100000012542548</span>
				<div class="clearfix"></div>
			</div>	
			
					
		</div>

	  
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>