<style>
   .info_row { display:table; width:100%; }
   .summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
   <div class="content">
     <form name="rrmr01" id="rrmr01" method="post" >
       <div class="info_row rchgMenu">
         <div><label>Select Mobile Operater</label></div>
         <div class="dispTable">
            <select name="Blist" id="Blist" data-bind="options: mobileBillerList, optionsText: 'displaytxt', optionsValue: 'mobvalue', value: preplist, optionsCaption: '-Select-'">
			<option>Vodafone</option>
            </select>
			
         </div>
      </div>
	   <div class="clearfix"></div>
      <div class="linedivider"></div>
	  <div class="clearfix20"></div>
      <div class="info_row rchgMenu">
         <div><label>Enter Mobile Number</label></div>
         <div class="dispTable">
            <input type="text" id="mobmob" name="mobmob" value=""  minlength="12"  maxlength="12"  size="12" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);"/>
         </div>
      </div>
      <div class="info_row rchgMenu">
         <div><label>Confirm Mobile Number</label></div>
         <div class="dispTable">
            <input type="text" id="mobmob" name="mobmob" value=""  minlength="10" maxlength="10"  size="10" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
         </div>
      </div>
  
      <div class="clearfix"></div>
      <div class="linedivider"></div>
	  <div class="clearfix20"></div>
      <div class="info_row rchgMenu">
         <div><label>Bank Account</label></div>
         <div class="dispTable">
            <select name="Blist" id="Blist" data-bind="options: mobileBillerList, optionsText: 'displaytxt', optionsValue: 'mobvalue', value: preplist, optionsCaption: '-Select-'">
			<option>12345678912</option>
            </select>
         </div>
      </div>
	  	<div class="clearfix"></div>
	    <div class="linedivider"></div>
		<div class="clearfix20"></div>
	            <div class="center_div">
		         <input type="submit" class="button" value="Register Now" />
	            </div>
	 </form>
	   
   </div>
  
</div>
<!-- /content --> 
</div>