<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
	
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left">Biller Name</span> 
			 <span class="info_row_right">Vodafone Mumbai</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right clslineht" style="word-wrap: break-word;">Voda1</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Reference1</span> 
			<span class="info_row_right clslineht"  style="word-wrap: break-word;" >7597369531</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Reference1</span> 
				<span class="info_row_right clslineht" >Satish</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Status</span> 
			<span class="info_row_right clslineht">Active</span>
			  	<div class="clearfix"></div>
			</div>	
			 
					
		</div>
		  <br/>
           <div style="width:95%">
		     <div class="" style="float:left; margin-left: 12px;">
						<input type="submit" class="button" value="View Details" />
						 </div>
						 <div class="" style="float:right;">
						<input type="submit" class="button" value="Delete" />
			 </div> 
		</div>
	  
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>