<style>
.info_row2, .info_row3 {
	padding-left: 0;
	padding-right: 0;
}

.info_row p {
	padding-left: 10px;
}
</style>
<section class="dynamic-page-content" id="contentData">

	<div id="wrapper">

		<div class="content sub_content">
			<form class="custStyleInput" name="frmPayee_NEFT_IMPS" id="frmPayee_NEFT_IMPS"
				method="post" data-bind='submit: Payee_NEFT_IMPSSubmit'>

		
					<div class="topBox">

						<fieldset class="bgff6869">
							<label>Payee Account Number</label> <input type="number" style="-webkit-text-security: disc;"
								id="Payee_No" name="Payee_No" class="rs_fld"/>
						</fieldset>

						<fieldset class="bgff6869">
							<label>Re-Enter Payee Account Number</label> <input type="number"
								id="RePayee_No" name="RePayee_No" class="rs_fld" />
						</fieldset>


						<fieldset class="bgff6869">
							<label>Payee Name</label> <input type="text" id="Payee_Name" autocapitalize="off" autocomplete="off"
                autocorrect="off" spellcheck="false" name="Payee_Name" class="rs_fld" />

						</fieldset>

						<fieldset class="bgff6869">
							<label>Payee Nick Name</label> <input type="text"  autocapitalize="off" autocomplete="off"
                autocorrect="off" spellcheck="false" id="Payee_Nick_Name" name="Payee_Nick_Name" class="rs_fld" />

						</fieldset>


						<fieldset class="bgff6869">
							<label>IFSC</label> <input style="text-transform:uppercase;" type="text"  autocapitalize="off" autocomplete="off"
                autocorrect="off" spellcheck="false" id="Payee_IFSC" name="Payee_IFSC" class="rs_fld" />
								 <br><br>
								
								<label style="font-size: 18px; float: right; font-weight: bold;"><a href = "#IFSC_Search"><u>Search IFSC</u></a></label>

						</fieldset>

					</div>
					<fieldset>
						<input type="submit" value="Add" class="btn" id="" />
						<div class="clearfix" style="height: 10px;"></div>
					</fieldset>

			</form>
		</div>
	</div>
</section>


<script>

$.validator.addMethod("gama", function(value, element) {
		var p2cbene_mobilenoEntered = $('#Payee_IFSC').val();
		if (p2cbene_mobilenoEntered.length<11){
			return false;
		}else{
			return true;
		}
	}, "IFSC Code must be of length 11");
	
	
$.validator.addMethod("beta", function(value, element) {
		var p2cbene_mobilenoEntered = $('#Payee_No').val();
		if (p2cbene_mobilenoEntered.length<12){
			return false;
		}else{
			return true;
		}
	}, "Please enter atleast 12 digits");
	
	
	$("#frmPayee_NEFT_IMPS").validate({
		rules : {
			Payee_No : {
				required : true,
				beta : true,
			},
			RePayee_No : {
				required : true,
				equalTo: "#Payee_No"
			},
			
			Payee_Name : {
				required : true,
			},
			
			Payee_Nick_Name : {
				required : true,
			},
			

			Payee_IFSC : {
			gama : true,
				required : true
			}

		},
		messages : {
			Payee_No : {
				required : "Enter Payee Account Number",
				beta : "Please enter atleast 12 digits",
			},
			RePayee_No : {
				required : "Re-enter Payee Account Number",
			},
			
			Payee_Name : {
				required : "Enter Payee Name",
			},

			Payee_Nick_Name : {
				required : "Enter Payee Nick Name",
			},
			
			Payee_IFSC : {
				required : "Enter IFSC",
				gama : "IFSC Code must be of length 11"
			}

		}

	});
	
	
		$("#Payee_Name").keyup(function() {
		$("#Payee_Name").val(this.value.match(/[A-Za-z ]*/));
		var count = $("#Payee_Name").val().length;
		if (count > 25) {
			$("#Payee_Name").val(this.value.match(/.{1,25}/));
			
		} 
		});
		
		$("#Payee_Nick_Name").keyup(function() {
		$("#Payee_Nick_Name").val(this.value.match(/[A-Za-z ]*/));
		var count = $("#Payee_Nick_Name").val().length;
		if (count > 25) {
			$("#Payee_Nick_Name").val(this.value.match(/.{1,25}/));
			
		} 
		});
		
			$("#Payee_No").keyup(function() {
		$("#Payee_No").val(this.value.match(/[0-9]*/));
		var count = $("#Payee_No").val().length;
		if (count > 20) {
			$("#Payee_No").val(this.value.match(/.{1,20}/));
			
		} 
		});
		
		$("#RePayee_No").keyup(function() {
		$("#RePayee_No").val(this.value.match(/[0-9]*/));
		var count = $("#RePayee_No").val().length;
		if (count > 20) {
			$("#RePayee_No").val(this.value.match(/.{1,20}/));
			
		} 
		});
		
		$("#Payee_IFSC").keyup(function() {
		
		var count = $("#Payee_IFSC").val().length;
		$("#Payee_IFSC").val(this.value.match(/[A-Za-z0-9]*/));
		if (count > 11) {
			$("#Payee_IFSC").val(this.value.match(/.{1,11}/));
			
		} 
		});
		
		
		
		

	$("#Payee_No").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_Nick_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#RePayee_No").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_IFSC").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});
</script>