<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<section class="dynamic-page-content" id="contentData">
		
	<div id="wrapper">
				
	<div class="content sub_content">
		<form class="custStyleInput" name="frmPayeeWithinBank" id="frmPayeeWithinBank" method="post" data-bind='submit: PayeeWithinBankSubmit'>	  
	  
			<div class="topBox">
				
				<fieldset class="bgff6869">
					<label>Payee Account Number</label>
					<input type="number" id="Payee_No" name="Payee_No" class="rs_fld"  />
				</fieldset>
				
				<!-- <fieldset class="bgff6869">
						<label>Payee Name</label>
						<input type="text" id="Payee_Name" name="Payee_Name" class="rs_fld" autocapitalize="off" autocomplete="off"
                autocorrect="off" spellcheck="false"/>
						
				</fieldset> -->
				
				<fieldset class="bgff6869">
						<label>Payee Nick Name</label>
						<input type="text" id="Payee_Nick_Name" name="Payee_Nick_Name" class="rs_fld" autocapitalize="off" autocomplete="off"
                autocorrect="off" spellcheck="false"/>
						
				</fieldset>
					
			</div>
			<fieldset>
				<input type="submit" value="Add" class="btn">
				
			</fieldset> 
			
				 
			  <!-- /content --> 
		
        </form>			
	</div>
		</div>
		</section>
		
	<script>
	
		$.validator.addMethod("gama", function(value, element) {
		var p2cbene_mobilenoEntered = $('#Payee_No').val();
		if (p2cbene_mobilenoEntered.length<12){
			return false;
		}else{
			return true;
		}
	}, "Please enter atleast 12 digits");
	
	$("#frmPayeeWithinBank").validate({
		rules : {
			Payee_No : {
				required : true,
				gama:true,
			},
			/* Payee_Name : {
				required : true,
			}, */

			Payee_Nick_Name : {
				required : true,
			}

		},
		messages : {
			Payee_No : {
				required : "Enter Payee Account Number",
				gama:"Please enter atleast 12 digits",
			},
			/* Payee_Name : {
				required : "Enter Payee Name",
			}, */

			Payee_Nick_Name : {
				required : "Enter Payee Nick Name",
			}

		}

	});
	
	
	
	
	
		/* $("#Payee_Name").keyup(function() {
		$("#Payee_Name").val(this.value.match(/[A-Za-z ]*///)); 
		//}); */
		
		$("#Payee_Nick_Name").keyup(function() {
		$("#Payee_Nick_Name").val(this.value.match(/[A-Za-z ]*/)); 
		var count = $("#Payee_Nick_Name").val().length;
		if (count > 25) {
			$("#Payee_Nick_Name").val(this.value.match(/.{1,25}/));
			
		} 
		});
		
	
		
		$("#Payee_No").keyup(function() {
		$("#Payee_No").val(this.value.match(/[0-9]*/));
		var count = $("#Payee_No").val().length;
		if (count > 20) {
			$("#Payee_No").val(this.value.match(/.{1,20}/));
			
		} 
		});
		
		

		$("#Payee_No").focusin(function() {
			$(".footer").css('display', 'none');
		}).focusout(function() {
			$(".footer").css('display', 'inline-block');
		});

		/* $("#Payee_Name").focusin(function() {
			$(".footer").css('display', 'none');
		}).focusout(function() {
			$(".footer").css('display', 'inline-block');
		}); */

		$("#Payee_Nick_Name").focusin(function() {
			$(".footer").css('display', 'none');
		}).focusout(function() {
			$(".footer").css('display', 'inline-block');
		});
		
		
	</script>	