<style>
.custfont {
	font-size: 18px;
}
</style>
<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">

			<form name="frmRTGS_Details" id="frmRTGS_Details"
				method="post" data-bind='submit: WithinBankDetailsSubmit'>
				<div class="summblock listItems">
					<div class="info_row custfont">
						<span class="info_row_left">Payee Account Number</span> <span
							class="info_row_right f18 AccNo"></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row custfont">
						<span class="info_row_left">Payee Name</span> <span
							class="info_row_right f18 PName"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Payee Nick Name</span> <span
							class="info_row_right f18 PNickName"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">IFSC Code</span> <span
							class="info_row_right f18 IFSCCode"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Bank Name</span> <span
							class="info_row_right f18 BankName"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Branch Name</span> <span
							class="info_row_right f18 BranchName"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">City</span> <span
							class="info_row_right f18 City"></span>
						<div class="clearfix"></div>
					</div>

				</div>

				<div class="bgded4d4">
					<div class="clearfix" style="height: 20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="" />
					</div>
					<div class="clearfix" style="height: 20px"></div>
				</div>


			</form>
		</div>
	</div>
</section>

