<section class="dynamic-page-content" id="contentData">
<style> 

.back {visibility: hidden; }

</style>
 <div id="wrapper">
    <div class="content sub_content">
  		 <div class="topBox bgff5354">
			
			
			<div class="success_msg">
				<p>Payee Added Successfully</p>	
			</div>
		</div>
  		<div class="summblock" id="">

			<div class="summblock listItems">
				<div class="info_row custfont"> <span class="info_row_left">Payee Account Number</span> <span class="info_row_right f18 AccNo" ></span>
					<div class="clearfix"></div>
				</div>
				<div class="info_row custfont"> <span class="info_row_left">Payee Name</span> <span class="info_row_right f18 PName" ></span>
						<div class="clearfix"></div>
				</div>

				<div class="info_row custfont"> <span class="info_row_left">Payee Nick Name</span> <span class="info_row_right f18 PNickName" ></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="beneficiearyNote"> <p>Success ! Your payee has been added Successfully. You may transfer fund to this payee upto ₹ 25,000 for next 12 hours.</p>
						
						
				</div>
		
		
		
		 
				</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
					<a href = "#rrftr01">
						<input type="button" class="button" value="Ok" style="width: 100px; margin: 0 auto; display: table;"/>
						</a>
					</div>
				
		</div>
		</div>

  </div>
</div>


</section>
