<style>
	
</style>
<script src="js/common.js"></script>
<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
		<div class="info_row" id="accExitsMsg" style="padding-top:8px;display:none;"><p>You do not have current/saving account with the bank.</p></div>
	  
	  <div data-bind="foreach: accountList">
		
						<div class="topBox">
				<fieldset class="bgff5354">
								<label class="selLbl f18" data-bind="text: acctType"></label>
							</fieldset>
			</div>
	
				<div class="summblock listItems">
								<div class="info_row"> <span class="info_row_left">Account Number</span> <span class="info_row_right f18" data-bind="text: codacctno" ></span>
						<div class="clearfix"></div>
					</div>
								<div class="info_row"> <span class="info_row_left">Available Balance</span> <span class="info_row_right f18" data-bind="text: acctbalance"></span>
						<div class="clearfix"></div>
					</div>
								<div class="info_row"> <span class="info_row_left">Branch</span> <span class="info_row_right" data-bind="text: acctbranch"></span>
						<div class="clearfix"></div>
					</div>
								<div class="info_row"> <span class="info_row_left">Name</span> <span class="info_row_right" data-bind="text: custnames" ></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Currency</span> <span class="info_row_right" data-bind="text: namccyshrt" ></span>
						<div class="clearfix"></div>
					</div>
					
				</div>
				
				</div>
			
					</div>
	</div>
			</section>
