<style>
.info_row {
	display: table;
	width: 100%;
}

.linedivider {
	border: 0 none;
}
</style>
<script type="text/javascript" src="js/common.js"></script>
<section class="dynamic-page-content" id="contentData">

	<div id="wrapper">

		<div class="content sub_content">

			<div class="topBox">

				<fieldset class="bgff5354">
					<label class="selLbl" id="acctType"></label> <select
						name="fldAcctNo" id="fldAcctNo"
						data-bind="options: accountList,  optionsText:  'displaytxt', optionsValue: 'codacctno', value: selAccount, event: {change:showSelectedAccount}">
					</select>
				</fieldset>

				<fieldset class="bgff6869">
					<label>Available Balance</label> <span class="f21"
						data-bind="text:curraccbalval"></span>
					<div class="clearfix"></div>
				</fieldset>
			</div>

			<div class="info_row subTitle dark_header">
				<span>Enquiry</span>
			</div>
			<div class="listRow">
				<a href="#accountSummary">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img
							src="img/acc_accountsummary.png"></span><span
							class="info_row_menu_right page_title_carousel">Account
							Summary</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#rrsin01">
					<div class="info_row even">
						<span class="info_row_menu_left"><img
							src="img/acc_viewacstatement.png"></span><span
							class="info_row_menu_right page_title_carousel">View
							Account Statement</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>
					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#rrcsi01">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img
							src="img/acc_viewchequestatus.png"></span><span
							class="info_row_menu_right page_title_carousel">View
							Cheque Status</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>
					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#FD_Acnts">
					<div class="info_row even">
						<span class="info_row_menu_left"><img
							src="img/FD_summary.png"></span><span
							class="info_row_menu_right page_title_carousel">Fixed
							Deposit Summary</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>
					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#RD_Acnts">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img
							src="img/RD_Summary.png"></span><span
							class="info_row_menu_right page_title_carousel">Recurring
							Deposit Summary</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>
					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#Loan_Acnt">
					<div class="info_row even">
						<span class="info_row_menu_left"><img
							src="img/RD_Summary.png"></span><span
							class="info_row_menu_right page_title_carousel">Loan
							Summary</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					</div>
				</a>

				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#CreditScoreHome">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img
							src="img/credit_score.png"></span><span
							class="info_row_menu_right page_title_carousel">View your
							Credit Score</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>
					</div> 
				</a>
			</div>
			<div class="clearfix"></div>
			<div class="info_row subTitle dark_header">
				<span>Transact</span>
			</div>
			<div class="listRow">
				<a href="#rrftr02">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img
							src="img/acc_fundtransfer.png"></span><span
							class="info_row_menu_right page_title_carousel">Funds
							Transfer</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>
					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#FD_opening">
					<div class="info_row even">
						<span class="info_row_menu_left"><img src="img/FD.png"></span><span
							class="info_row_menu_right page_title_carousel">Open Fixed
							Deposit</span><span class="right_arrow"><img src="img/rarrow.png"></span>
					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#RD_opening">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img src="img/RD.png"></span><span
							class="info_row_menu_right page_title_carousel">Open
							Recurring Deposit</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>
					</div>
				</a>
			</div>

			<div class="info_row subTitle dark_header">
				<span>Request</span>
			</div>
			<div class="listRow">
				<a href="#rrsch01">
					<div class="info_row even">
						<span class="info_row_menu_left"><img
							src="img/acc_stoppaymentchq.png"></span><span
							class="info_row_menu_right page_title_carousel">Stop
							Payment of Cheque</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>

					</div>
				</a>
				<div class="clearfix"></div>
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#rrcbr02">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img
							src="img/acc_requestchqbook.png"></span><span
							class="info_row_menu_right page_title_carousel">Request
							Cheque Book</span><span class="right_arrow"><img
							src="img/rarrow.png"></span>

					</div>
				</a>
				<div class="clearfix"></div>
				<!-- Aadhar update -->
				<div class="linedivider"></div>
				<div class="clearfix"></div>
				<a href="#aadharUpdate">
					<div class="info_row odd">
						<span class="info_row_menu_left"><img
							src="img/aadharUpdate.png"></span> <span
							class="info_row_menu_right page_title_carousel">Update
							your Aadhaar</span> <span class="right_arrow"><img
							src="img/rarrow.png"></span>

					</div>
				</a>
				<!-- /Adhar update -->

			</div>
			<!-- /content -->

		</div>
	</div>

</section>
