<style>

</style>
<section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
	<div class="content sub_content">
	<div class="topBox bgff5354">
			<div class="rsaOOBErr" style="display:none;">
				<p></p>
			</div>
	</div>
	<form class="custStyleInput" name="frmReqAccStmtConf" id="frmReqAccStmtConf" method="post" data-bind='submit: reqChequeBookConfirmSubmit'>
	  <div class="note"><p>Please verify and confirm your request for Cheque Book.</p></div>

	
				<div class="summblock listItems">
					<div class="info_row"> <span class="info_row_left">For Account No.</span> <span class="info_row_right f18" id="fldacctnodet"></span>
			<input type="hidden" name="fldacctno" id="fldacctno" />	
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row"> <span class="info_row_left">Address</span> <span class="info_row_right f18" id="fldaddr1"></span>
						<div class="clearfix"></div>
					
					<div><span class="info_row_left"></span> <span class="info_row_right" id="fldaddr2""></span>
						<div class="clearfix"></div>
					</div>
					<div><span class="info_row_left"></span> <span class="info_row_right" id="fldaddr3" ></span>
						<div class="clearfix"></div>
					</div>
				</div>
				  <div class="info_row"> <span class="info_row_left">City</span> <span class="info_row_right" id="fldcustcity" ></span>
						<div class="clearfix"></div>
					</div>
					
				<div class="info_row"> <span class="info_row_left">State</span> <span class="info_row_right" id="fldcuststate" ></span>
						<div class="clearfix"></div>
					</div>	
					
				<div class="info_row"> <span class="info_row_left">Zip</span> <span class="info_row_right" id="fldzip" ></span>
						<div class="clearfix"></div>
					</div>	
				<div class="info_row"> <span class="info_row_left">Country</span> <span class="info_row_right" id="fldcntry" ></span>
						<div class="clearfix"></div>
					</div>	

         <fieldset class="bgff5354">
			   <label class="selLbl">Confirm Address</label>
				<select name="fldChecked" id="fldChecked">
				<option value="true">Accept</option>
				<option value="false">Decline</option>
				</select>
			</fieldset>	

	</div>
				
			 <br/>
				
				<div class="info_row2">
		          <input id="submitrequest" type="submit" class="btn" value="Submit" >
		        </div>
				
				
	</form>
			
</div>
	</div>
			</section>
			
<script type="text/javascript">

$("#frmReqAccStmtConf").validate({
	 rules: {
	 		
            fldChecked: {chkvalid: "#fldChecked"},
        },
        messages: {
        	fldChecked: {
                chkvalid: "As confirmed by you, since the mailing address updated in our records is incorrect, the request cannot be processed. Kindly visit nearest branch to update your address."
            }
        }
});
</script>

