 <section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
  <div class="content sub_content">
 <form class="custStyleInput" name="frmReqAccStmt" id="frmReqAccStmt" method="post" data-bind='submit:chequeBookReqConfirm' >
	<div id="tptCont" class="topBox" style="display:block;">
		
			<fieldset class="bgff5354">
				<label class="selLbl">For Account No.</label>
				<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno',value:'codacctno',optionsCaption: '-Select-'">
			  
		    </select>
			</fieldset>
		
		       <div class="bgded4d4">
				   <div class="clearfix"></div>
				   <fieldset>
				  	 <input type="submit" value="Submit" class="btn">
				   </fieldset>
				   <div class="clearfix" style="height:30px;"></div>
				 </div>
	
	
		</div>
	
		</form> 
	
  </div>
</div>

</section>

<script type="text/javascript">
$("#frmReqAccStmt").validate({
	rules: {
		fldAcctNo: "required",		
	},
	messages: {
		fldAcctNo: "Select For Account No.",										
	}
});
</script>

