<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  	 
  	 	<div class="success_msg">
			<p>Transaction successful</p>
		</div>
		
  		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">Account No. to be linked</span> 
			<span class="info_row_right clslineht" id="fromacctDetails"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left startchqlbl">Sweep-In Provider Account No</span> 
			<span class="info_row_right" id="toacctnoDetails">				
			</span>
			<div class="clearfix"></div>
			</div>
		</div>
		
  </div>
</div>

