<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper">
				
			  <div class="content sub_content">
			   <div class="info_row" id="accExitsMsg" style="display:none;"><p>You do not have active account with the bank.</p></div>
  <form class="custStyleInput" name="frmchequestatus" id="frmchequestatus" method="post" data-bind='submit: rrcsi01Submit'>
   <div data-bind="visible: accSlider">
        <div class="clearfix"></div>
	    <div class="clearfix"></div>
      		
   <div class="clearfix"></div>
			  	<div class="topBox">
				
					<fieldset class="bgff5354">
						<label class="selLbl">Select Account</label>
						<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">
			
		    </select>
					</fieldset>
					
					<fieldset class="bgff6869">
						<label>Cheque Number</label>
						<input type="number" pattern="[0-9]*" class="num" name="fldChequeNo" id="fldChequeNo" size="10" minlength="6" maxlength="6" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" />

						<div class="clearfix" style="height:40px;"></div>
					</fieldset>
				</div>
				
				<div class="topBox bgff5354">
					<div class="rsaOOBErr" style="display:none;">
					<p></p>
					</div>
				</div>

			  	<div class="bgded4d4">
				 
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" value="Submit" class="btn" />
					<div class="clearfix" style="height:10px;"></div>
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
				 </div>
				 
				 <div class="summblock listItems">
								<div class="info_row"> <span class="info_row_left">Cheque No.</span> <span class="info_row_right" id="chequeno"></span>
						<div class="clearfix"></div>
					</div>
								<div class="info_row"> <span class="info_row_left">Status</span> <span class="info_row_right" id="chequestatus"></span>
						<div class="clearfix"></div>
					</div>
								<div class="info_row"> <span class="info_row_left">Account Number</span> <span class="info_row_right" id="codacctno"></span>
						<div class="clearfix"></div>
					</div>
								
				</div>
				 
			  </div>
			  </div>
			  </form>
			  <!-- /content --> 
			</div>
			
<script type="text/javascript">
$("#frmchequestatus").validate({
	rules: {
		fldAcctNo: "required",
		 fldChequeNo: {required: true, digits: true},		
	},
	messages: {
		fldAcctNo: "Select Account",
		fldChequeNo: "Enter Valid 6 Digit Cheque Number",			
	}
});

$('.num').keyup(function(){
$('.rsaOOBErr').hide();
    var val = $(this).val();
    if(isNaN(val)){
         val = val.replace(/[^0-9\.]/g,'');
         if(val.split('.').length>2) 
             val =val.replace(/\.+$/,"");
    }
    $(this).val(val); 
});


</script>

