<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<section class="dynamic-page-content" id="contentData">
		
	<div id="wrapper">
				
	<div class="content sub_content">
		<form class="custStyleInput" name="frmftr02" id="frmftr02" method="post" data-bind='submit: rrftr02Submit'>
		<div class="info_row odd" id="accExitsMsg" style="display:none;">
	         <span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		     <span class="info_row_menu_right clslineht" style="width:72%;">
			 Two or more A/cs are required to carry out this transaction
		    </span> 
        </div>		  

		<div id="fndtransfer" style="display:none;">	  
			<div class="topBox">
				
				<fieldset class="bgff5354">
						<label class="selLbl">From Account</label>
				<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: fldFromAcctNo, optionsCaption: '-Select-'"></select>
				</fieldset>
					
					
				<fieldset class="bgff5354">
						<label class="selLbl">To Account</label>
					<select name="fldToAcctNo" id="fldToAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: fldToAcctNo, optionsCaption: '-Select-'">
					</select>
				</fieldset>
				
				
				<fieldset class="bgff6869">
						<label>Amount</label>
						<input type="text" id="fldAmtTxn" name="fldAmtTxn" value="" size="10" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
						
				</fieldset>
			
				<fieldset class="bgff6869">
					<label>Description</label>
					<input type="text" id="fldTxnDesc" name="fldTxnDesc" value="" size="25" maxlength="25" class="rs_fld" />
				</fieldset>			
					
					
			</div>
			<fieldset>
				<input type="submit" value="Submit" class="btn" id="confirm_button1"/>
				<div class="clearfix" style="height:10px;"></div>
			</fieldset> 
			
		<div class="disclaimer">
	            <b>Disclaimer:</b>
				<p>1. Maximum transaction limit under Own Account Fund Transfer is Unlimited.</p> 
				<p>2. Maximum daily transaction limit under Own Account Fund Transfer is Unlimited.</p>
		</div>

				 
			  <!-- /content --> 
		</div>
        </form>			
	</div>
		</div>
		</section>

<script type="text/javascript">

$.validator.addMethod("account_not_same", function(value, element) {
   return $('#fldFromAcctNo').val() != $('#fldToAcctNo').val()
}, "From Account and To Account cannot be same");

$.validator.addMethod("DescRegex", function(value, element) {
        return this.optional(element) || /^[a-z0-9\-\ ]+$/i.test(value);
    }, "Use only letters, numbers, or dashes.");


$("#frmftr02").validate({
	rules: {
		fldFromAcctNo: "required",
		fldToAcctNo: {
                required: true,
                account_not_same: true                
        },
		fldAmtTxn: {
                required: true,
                min: 1                
        },
		fldTxnDesc: {
                required: true,
                DescRegex: true,
        }
		
	},
	messages: {
		fldFromAcctNo: "Select From Account",
		fldToAcctNo:{
			required : "Select To Account",
			account_not_same : "From account number and To account number cannot be same.",			
		},
		fldAmtTxn: {
                required: "Enter Amount",
                min: "Amount should be greater than 0.0"                
        },
		fldTxnDesc: {
                required: "Enter Description",
                DescRegex: "Description format not valid"
        }
	}
});

</script>	