<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
</style>
<div id="wrapper">
  <div class="content sub_content">
  
   		 <div class="topBox bgff5354">
			
			 <div class="rsaOOBErr" style="display:none;">
				
  			<p></p>
				
			 </div>
			
			<div class="success_msg" style="display:none;">
				<p>Transaction successful</p>	
			</div>
		</div>
		<div class="summblock" id="tpn06success">

				<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">From Account</span> <span class="info_row_right f18 clsacctno" ></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Reference No.</span> <span class="info_row_right f18 clsreferenceno" ></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Beneficiary Account Number</span> <span class="info_row_right clsbenefacctno" ></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Transaction Status</span> <span class="info_row_right" id="txnStatus"></span>
						<div class="clearfix"></div>
					</div>
		

        <div class="info_row"> <span class="info_row_left">Amount</span> <span class="info_row_right clstxnamount " ></span>
						<div class="clearfix"></div>
					</div>	
       <div class="info_row"> <span class="info_row_left">Description</span><span class="info_row_right clstxndesc " ></span>
						<div class="clearfix"></div>
					</div>						
					
				</div>
	
		</div>
		
  </div>
</div>

