<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
<div id="agencyDiv1">
  <br/>
		
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
   
	<div class="info_row"><div class="info_row2">Select Account</div> 
		<div class="info_row3">
			<select name="fldAcctNo1" id="fldAcctNo1" data-bind="options: agencyList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: selAgency, optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>
	
	<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
	
   <div class="clearfix20"></div>
   <div class="info_row2">
    <input type="button" class="button" value="Continue" data-bind="click: showAgencyDetails">
   </div>
      
 </div>
   
   <div id="divSelAgency" style="display:none;">
			<br/>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>

			<div class="info_row "><div class="info_row2">Account No.</div>
			<div class="info_row3" id="selectedAcct">
			</div>
			</div>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"><div class="info_row2">Select Agency</div> 
			<div class="info_row3">
				<select name="fldAgencyId" id="fldAgencyId" data-bind="options: accountAgencyList, optionsText: 'name', optionsValue: 'id', value: selAccountAgency, optionsCaption: '-Select-'">				
				
				</select>
				  </div>
			</div>
			
		<div class="clearfix"></div>
		  <div class="linedivider"></div>   
		  <div class="clearfix"></div>
		  
		  <div class="info_row">
		  <br/>
		  <p><b>Note:</b></p><br/> <p>Please select period for which you want to view the Hold Enquiry by selecting the date. If no period is selected, a mini statement containing would be displayed by default.
		  </p>
				<div class="clearfix"></div>
			</div>			
	
		  <div class="clearfix20"></div>
		   <div class="info_row2" id="divSubmit">
		    <input type="button" class="button" value="Submit" data-bind="click: showAgencyPeriod">
		   </div>
		   
		   <div id="agyPeriod" style="display:none;">
		   
		   <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"> <div class="info_row2">From Date (dd/mm/yyyy)</div> 
			<div class="info_row3">
		        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text"  readonly="readonly"  name="fldFromDate" id="fldFromDate"  />
		        <div  id="show_date"><img src="img/index.png"  /></div></div>		
		     </div>
			 </div>
			 
			  <div class="clearfix"></div>
		      <div class="linedivider"></div>   
		      <div class="clearfix"></div>
		    
		     <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><div class="info_row2">To Date (dd/mm/yyyy)</div> 
			<div class="info_row3">
		        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text" name="fldToDate" readonly="readonly" id="fldToDate" />
		        <div  id="show_date1"><img src="img/index.png"  /></div></div>
		     </div>
		     <div class="clearfix"></div>
		     </div>
			 
					      
      	<div class="clearfix20"></div>
		   <div class="info_row2">
		    <input type="button" class="button" value="Submit" data-bind="click: rrhiq01Submit">
		   </div>
      <br/>
      <div class="clearfix20"></div>
      
      		</div>
      		
	</div>		
	  <br/>
	
	<input type="hidden" name="fldAcctBrn" id="fldAcctBrn" />
  	<input type="hidden" name="fldFCDBRequestId" id="fldFCDBRequestId" />
  	

  </div>
</div>

<script type="text/javascript">
$("#frmAccStmt").validate({
	rules: {
		fldAcctNo: "required",
		fldFromDate: "required",
		fldToDate: "required"
	},
	messages: {
		fldAcctNo: "Select From Account",
		fldFromDate: "Enter From Date",
		fldToDate: "Enter To Date"						
	}
});


$(function(){
		var now = new Date();
	    $('#fldFromDate,#fldToDate').scroller({
	        preset: 'date',
	        theme: 'sense-ui',
	        display: 'modal',
	        mode: 'scroller',
	        dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10
	    });
	    
	    


$('#show_date1').click(function(){
  $('#fldToDate').scroller('show'); 
  return false;
});

$('#show_date').click(function(){
  $('#fldFromDate').scroller('show'); 
  return false;
});


$('#clear').click(function () {
  $('#fldFromDate').val('');
  return false;
});
});

</script>
