<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
	 
		<div class="info_row odd"><span class="info_row_left">Account Number</span> 
			<span class="info_row_right clslineht" id="holdingAccno"></span>
			<div class="clearfix"></div>
		</div>
		<div id="fldagencyid" style="display:none;">
		<div class="info_row even"><span class="info_row_left">Agency Name</span> 
		  <span class="info_row_right" id="holdingAgyName"></span>
			<div class="clearfix"></div>
		  </div>
		</div>
		<br/>
		<div data-bind="foreach: holdingDetails">
		<div class="summblock">
		
		<div class="info_row dark_header"><span class="info_row_left">Date</span> 
		  <span class="info_row_right" data-bind="text: fromdateFormat"></span>
			<div class="clearfix"></div>
		  </div>
		  
		  <div class="info_row odd"><span class="info_row_left">Amount</span> 
		  <span class="info_row_right page_title_sub" data-bind="text: amount"> </span>
			<div class="clearfix"></div>
		  </div>
		  <div class="info_row even"><span class="info_row_left">Time</span> 
		  <span class="info_row_right" data-bind="text: txndate"> </span>
			<div class="clearfix"></div>
		  </div>
		 		  
		   <div class="info_row even"><span class="info_row_left">Transaction Type</span> 
		  <span class="info_row_right clslineht" data-bind="text: txndesc"> </span>
			<div class="clearfix"></div>
		  </div>
		  
		  <div class="info_row odd"><span class="info_row_left">Narration</span> 
		  <span class="info_row_right clslineht" data-bind="text: narrative"> </span>
			<div class="clearfix"></div>
		  </div>
		  </div>
		  <br/>

		</div>	
  </div>
</div>