<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  <div class="info_row" id="accExitsMsg" style="display:none;"><p>You do not have active account with the bank.</p></div>
		<form name="f1" id="f1" action="app://" method="post" data-bind='submit: rrper01Submit'>	
		
	<div data-bind="foreach: MmenuList">
	<!-- ko if: token2 === 'mymenu' -->
	<!-- ko if: txnid === '1' || txnid === 'LGF' -->
	<div class="sub_content">
		<div class="info_row"><p>You are not authorized to do this transaction. Please contact the bank.</p></div>
	</div>
		<!-- /ko -->
	<!-- /ko -->
	</div>
	
		
		
		
			  
			  <div class="info_row even" id="save" style="overflow:hidden;margin-bottom:0px;"> 
				<span class="info_row_left" style="width:25%; float:right;">
						<input type="submit" class="button" value="Save" />				
				<span class="info_row_right clslineht" style="padding-bottom:12px;padding-top:12px;width:68%">Click on the "Save" button to save changes to My Menu</span>
				<div class="clearfix"></div>
			</div>
			

	
		<div class="sub_content">
		<div class="scrollable" id="scrollMe" style="margin-bottom:60px;">

	
		
		<br/>
		<div class="info_row dark_header" id="accts" style="display:none;"> <div class="info_row2 page_title_carousel">Accounts</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'ASM']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc1">
			<span class="info_row_menu_left">
				<img src="img/acc_accountsummary.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Summary</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="$myfavmenu = 'ASM'">
					
					<!--label class="myCheckbox"-->
						<input type="checkbox" checked="checked" class="styled" value="ASM" name="fldMenuCheck_Acc1" id="fldMenuCheck_Acc1" style="width:10%;" />
						
						<!--/label-->
				</xsl:when>
				<xsl:otherwise>
					<!--label class="myCheckbox"-->
					<input type="checkbox" value="ASM"  class="styled"  name="fldMenuCheck_Acc1"  id="fldMenuCheck_Acc1" style="width:10%;"/>
					<!--span></span>
					</label-->
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'SIN']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc2">
			<span class="info_row_menu_left">
				<img src="img/acc_viewacstatement.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Account Statement</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'SIN' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="SIN" name="fldMenuCheck_Acc2" id="fldMenuCheck_Acc2" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="SIN" class="styled"  name="fldMenuCheck_Acc2"  id="fldMenuCheck_Acc2" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CSI']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc3">
			<span class="info_row_menu_left">
				<img src="img/acc_viewchequestatus.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Cheque Status</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CSI' = $myfavmenu">
					
					<!--label class="myCheckbox"-->
						<input type="checkbox" checked="checked" class="styled" value="CSI" name="fldMenuCheck_Acc3" id="fldMenuCheck_Acc3" style="width:10%;" />
						<!--span></span>
						</label-->
				</xsl:when>
				<xsl:otherwise>
					<!--label class="myCheckbox"-->
					<input type="checkbox"  class="styled" value="CSI"  name="fldMenuCheck_Acc3"  id="fldMenuCheck_Acc3" style="width:10%;"/>
					<!--span></span>
					</label-->
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'SCH']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc4">
			<span class="info_row_menu_left">
				<img src="img/acc_stoppaymentchq.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Stop Payment of Cheque</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'SCH' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="SCH" name="fldMenuCheck_Acc4" id="fldMenuCheck_Acc4" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="SCH" class="styled"  name="fldMenuCheck_Acc4"  id="fldMenuCheck_Acc4" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'LOA']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc5">
			<span class="info_row_menu_left">
				<img src="img/acc_fixeddepositsummary.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Fixed Deposits Summary</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'LOA' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="LOA" name="fldMenuCheck_Acc5" id="fldMenuCheck_Acc5" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="LOA" class="styled"  name="fldMenuCheck_Acc5"  id="fldMenuCheck_Acc5" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'RDS']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc6">
			<span class="info_row_menu_left">
				<img src="img/acc_recurringdepositsummary.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Recurring Deposits Summary</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'RDS' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="RDS" name="fldMenuCheck_Acc6" id="fldMenuCheck_Acc6" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="RDS" class="styled"  name="fldMenuCheck_Acc6"  id="fldMenuCheck_Acc6" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'TXI']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc7">
			<span class="info_row_menu_left">
				<img src="img/acc_tdsenquiry.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">TDS Inquiry</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'TXI' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="TXI" name="fldMenuCheck_Acc7" id="fldMenuCheck_Acc7" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="TXI" class="styled"  name="fldMenuCheck_Acc7"  id="fldMenuCheck_Acc7" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'HIQ']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc8">
			<span class="info_row_menu_left">
				<img src="img/acc_holdinquiry.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Hold Enquiry</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'HIQ' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="HIQ" name="fldMenuCheck_Acc8" id="fldMenuCheck_Acc8" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="HIQ" class="styled"  name="fldMenuCheck_Acc8" id="fldMenuCheck_Acc8" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'FTR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc9">
			<span class="info_row_menu_left">
				<img src="img/acc_fundtransfer.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Funds Transfer</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'FTR' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="FTR" name="fldMenuCheck_Acc9" id="fldMenuCheck_Acc9" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="FTR" class="styled"  name="fldMenuCheck_Acc9"  id="fldMenuCheck_Acc9" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'FDR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc10">
			<span class="info_row_menu_left">
				<img src="img/acc_openfd.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Open FD</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'FDR' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="FDR" name="fldMenuCheck_Acc10" id="fldMenuCheck_Acc10" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="FDR" class="styled"  name="fldMenuCheck_Acc10"  id="fldMenuCheck_Acc10" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'RDO']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc11">
			<span class="info_row_menu_left">
				<img src="img/acc_openrd.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Open RD</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'RDO' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="RDO" name="fldMenuCheck_Acc11" id="fldMenuCheck_Acc11" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="RDO" class="styled"  name="fldMenuCheck_Acc11" id="fldMenuCheck_Acc11" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'FDL']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc12">
			<span class="info_row_menu_left">
				<img src="img/acc_lequidetfixeddepost.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Liquidate FD</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'FDL' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="FDL" name="fldMenuCheck_Acc12" id="fldMenuCheck_Acc12" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="FDL" class="styled"  name="fldMenuCheck_Acc12" id="fldMenuCheck_Acc12" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'FSS']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc13">
			<span class="info_row_menu_left">
				<img src="img/acc_fixeddepositswipin.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Fixed Deposit Sweep-in</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'FSS' = $myfavmenu">
						<input type="checkbox" checked="checked" class="styled" value="FSS" name="fldMenuCheck_Acc13" id="fldMenuCheck_Acc13" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="FSS" class="styled"  name="fldMenuCheck_Acc13" id="fldMenuCheck_Acc13" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CSS']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc14">
			<span class="info_row_menu_left">
				<img src="img/acc_casaswipin.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">CASA Sweep-in</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CSS' = $myfavmenu">
 					<input type="checkbox" checked="checked" class="styled" value="CSS" name="fldMenuCheck_Acc14" id="fldMenuCheck_Acc14" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="CSS" class="styled"  name="fldMenuCheck_Acc14" id="fldMenuCheck_Acc14" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'SUS']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc15">
			<span class="info_row_menu_left">
				<img src="img/acc_supersaver.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Super Saver</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'SUS' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="SUS" name="fldMenuCheck_Acc15" id="fldMenuCheck_Acc15" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="SUS" class="styled"  name="fldMenuCheck_Acc15" id="fldMenuCheck_Acc15" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CBR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc16">
			<span class="info_row_menu_left">
				<img src="img/acc_requestchqbook.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Request Cheque Book</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CBR' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="CBR" name="fldMenuCheck_Acc16" id="fldMenuCheck_Acc16" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="CBR" class="styled"  name="fldMenuCheck_Acc16" id="fldMenuCheck_Acc16" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'ASR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc17">
			<span class="info_row_menu_left">
				<img src="img/acc_requestacstatement.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Request Account Statement</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'ASR' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="ASR" name="fldMenuCheck_Acc17" id="fldMenuCheck_Acc17" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="ASR" class="styled"  name="fldMenuCheck_Acc17" id="fldMenuCheck_Acc17" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'EMD']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc18">
			<span class="info_row_menu_left">
				<img src="img/acc_emailstmentderegis.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Email Statement Deregistration</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'EMD' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="EMD" name="fldMenuCheck_Acc18" id="fldMenuCheck_Acc18" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="EMD" class="styled"  name="fldMenuCheck_Acc18" id="fldMenuCheck_Acc18" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'EMR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc19">
			<span class="info_row_menu_left">
				<img src="img/acc_emailstmentregist.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Email Statement Registration</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'EMR' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="EMR" name="fldMenuCheck_Acc19" id="fldMenuCheck_Acc19" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="EMR" class="styled" name="fldMenuCheck_Acc19" id="fldMenuCheck_Acc19" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<div class="info_row dark_header" style="display:none;" id="trsnfer"> <div class="info_row2 page_title_carousel">Third Party Funds Transfer</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'TPT']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT1">
			<span class="info_row_menu_left">
				<img src="img/transfer_thirdparttransfer.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Third Party Funds Transfer (Internal)</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'TPT' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="TPT" name="fldMenuCheck_TPT1" id="fldMenuCheck_TPT1" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="TPT" class="styled" name="fldMenuCheck_TPT1" id="fldMenuCheck_TPT1" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'TPN']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT2">
			<span class="info_row_menu_left">
				<img src="img/transfer_neftfundtransfer.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Third Party Funds Transfer (NEFT)</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'TPN' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="TPN" name="fldMenuCheck_TPT2" id="fldMenuCheck_TPT2" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="TPN" class="styled" name="fldMenuCheck_TPT2" id="fldMenuCheck_TPT2" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'VMT']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT3">
			<span class="info_row_menu_left">
				<img src="img/transfer_visacardpay.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Visa CardPay</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'VMT' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="VMT" name="fldMenuCheck_TPT3" id="fldMenuCheck_TPT3" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="VMT" class="styled" name="fldMenuCheck_TPT3" id="fldMenuCheck_TPT3" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
	
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'MPE']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT4"> 
			<span class="info_row_menu_left">
				<img src="img/transfer_specialpayments.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Special Payments</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'MPE' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="MPE" name="fldMenuCheck_TPT4" id="fldMenuCheck_TPT4" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="MPE" class="styled" name="fldMenuCheck_TPT4" id="fldMenuCheck_TPT4" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'TPV']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT5">
			<span class="info_row_menu_left">
				<img src="img/transfer_viewrtgsfundtransfer.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View RTGS Funds Transfer</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'TPV' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="TPV" name="fldMenuCheck_TPT5" id="fldMenuCheck_TPT5" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="TPV" class="styled" name="fldMenuCheck_TPT5" id="fldMenuCheck_TPT5" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'TPI']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT6">
			<span class="info_row_menu_left">
				<img src="img/transfer_listofbenfi.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View List of Beneficiaries</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'TPI' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="TPI" name="fldMenuCheck_TPT6" id="fldMenuCheck_TPT6" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="TPI" class="styled" name="fldMenuCheck_TPT6" id="fldMenuCheck_TPT6" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CPQ']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT7">
			<span class="info_row_menu_left">
				<img src="img/transfer_questionmark.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Change Question Answers</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CPQ' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="CPQ" name="fldMenuCheck_TPT7" id="fldMenuCheck_TPT7" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="CPQ" class="styled" name="fldMenuCheck_TPT7" id="fldMenuCheck_TPT7" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'IFT']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT8">
			<span class="info_row_menu_left">
				<img src="img/imps_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Fund Transfer to Mobile No.</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'IFT' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="IFT" name="fldMenuCheck_TPT8" id="fldMenuCheck_TPT8" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="IFT" class="styled" name="fldMenuCheck_TPT8" id="fldMenuCheck_TPT8" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'VFT']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT9">
			<span class="info_row_menu_left">
				<img src="img/transfer_viewimps.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View IMPS Funds Transfer</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'VFT' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="VFT" name="fldMenuCheck_TPT9" id="fldMenuCheck_TPT9" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="VFT" class="styled" name="fldMenuCheck_TPT9" id="fldMenuCheck_TPT9" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'P2A']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT10">
			<span class="info_row_menu_left">
				<img src="img/imps_ifsc.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">IMPS - IFSC Code/Acct No.</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'P2A' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="P2A" name="fldMenuCheck_TPT10" id="fldMenuCheck_TPT10" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="P2A" class="styled" name="fldMenuCheck_TPT10" id="fldMenuCheck_TPT10" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
		
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'MMG']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT11">
			<span class="info_row_menu_left">
				<img src="img/generate_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Generate MMID</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'MMG' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="MMG" name="fldMenuCheck_TPT11" id="fldMenuCheck_TPT11" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="MMG" class="styled" name="fldMenuCheck_TPT11" id="fldMenuCheck_TPT11" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'MMR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT12">
			<span class="info_row_menu_left">
				<img src="img/retrieve_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Retrieve MMID</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'MMR' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="MMR" name="fldMenuCheck_TPT12" id="fldMenuCheck_TPT12" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="MMR" class="styled" name="fldMenuCheck_TPT12" id="fldMenuCheck_TPT12" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'MMC']">
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT13">
			<span class="info_row_menu_left">
				<img src="img/cancel_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Cancel MMID</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'MMC' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="MMC" name="fldMenuCheck_TPT13" id="fldMenuCheck_TPT13" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="MMC" class="styled" name="fldMenuCheck_TPT13" id="fldMenuCheck_TPT13" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>

		
		<div class="info_row dark_header" id="bills" style="display:none;"> <div class="info_row2 page_title_carousel">Bill Payment</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'BLP']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Bill1">
			<span class="info_row_menu_left">
				<img src="img/bill_pay.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Bill Payment</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'BLP' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="BLP" name="fldMenuCheck_Bill1" id="fldMenuCheck_Bill1" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="BLP" class="styled" name="fldMenuCheck_Bill1" id="fldMenuCheck_Bill1" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
			<div class="info_row dark_header" id="cards" style="display:none;"> <div class="info_row2 page_title_carousel">Credit Cards</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CCP']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC1">
			<span class="info_row_menu_left">
				<img src="img/cc_creditcardpayment.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Credit Card Payment</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CCP' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="CCP" name="fldMenuCheck_CC1" id="fldMenuCheck_CC1" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="CCP" class="styled" name="fldMenuCheck_CC1" id="fldMenuCheck_CC1" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'ACS']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC2">
			<span class="info_row_menu_left">
				<img src="img/cc_accountsummary.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Summary</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'ACS' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="ACS" name="fldMenuCheck_CC2" id="fldMenuCheck_CC2" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="ACS" class="styled" name="fldMenuCheck_CC2" id="fldMenuCheck_CC2" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'ACI']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC3">
			<span class="info_row_menu_left">
				<img src="img/cc_accountinfo.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Information</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'ACI' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="ACI" name="fldMenuCheck_CC3" id="fldMenuCheck_CC3" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="ACI" class="styled" name="fldMenuCheck_CC3" id="fldMenuCheck_CC3" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'UNB']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC4">
			<span class="info_row_menu_left">
				<img src="img/cc_viewunbilledtrans.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Unbilled Transactions</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'UNB' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="UNB" name="fldMenuCheck_CC4" id="fldMenuCheck_CC4" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="UNB" class="styled" name="fldMenuCheck_CC4" id="fldMenuCheck_CC4" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'UPD']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC5">
			<span class="info_row_menu_left">
				<img src="img/cc_updatecontactdetails.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Update Contact details</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'UPD' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="UPD" name="fldMenuCheck_CC5" id="fldMenuCheck_CC5" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="UPD" class="styled" name="fldMenuCheck_CC5" id="fldMenuCheck_CC5" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CAC']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC6">
			<span class="info_row_menu_left">
				<img src="img/cc_registernewcard.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Register New Card</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CAC' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="CAC" name="fldMenuCheck_CC6" id="fldMenuCheck_CC6" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="CAC" class="styled" name="fldMenuCheck_CC6" id="fldMenuCheck_CC6" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'EST']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC7">
			<span class="info_row_menu_left">
				<img src="img/cc_statementemail.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Statement on E-Mail</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'EST' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="EST" name="fldMenuCheck_CC7" id="fldMenuCheck_CC7" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="EST" class="styled" name="fldMenuCheck_CC7" id="fldMenuCheck_CC7" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'PCR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC8">
			<span class="info_row_menu_left">
				<img src="img/cc_creditcardatmpin.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Credit Card ATM PIN</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'PCR' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="PCR" name="fldMenuCheck_CC8" id="fldMenuCheck_CC8" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="PCR" class="styled" name="fldMenuCheck_CC8" id="fldMenuCheck_CC8" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CDC']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC9">
			<span class="info_row_menu_left">
				<img src="img/cc_deregistercard.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Deregister Card</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CDC' = $myfavmenu">
						<input type="checkbox" checked="checked" class="styled" value="CDC" name="fldMenuCheck_CC9" id="fldMenuCheck_CC9" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="CDC" class="styled" name="fldMenuCheck_CC9" id="fldMenuCheck_CC9" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'APR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC10">
			<span class="info_row_menu_left">
				<img src="img/cc_autopayregister.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Autopay Register</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'APR' = $myfavmenu">
						<input type="checkbox" checked="checked" class="styled" value="APR" name="fldMenuCheck_CC10" id="fldMenuCheck_CC10" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="APR" class="styled" name="fldMenuCheck_CC10" id="fldMenuCheck_CC10" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'APD']">
		<div class="info_row odd">
			<label for="fldMenuCheck_CC11">
			<span class="info_row_menu_left">
				<img src="img/cc_autopayderister.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Autopay De-register</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'APD' = $myfavmenu">
						<input type="checkbox" checked="checked" class="styled" value="APD" name="fldMenuCheck_CC11" id="fldMenuCheck_CC11" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="APD" class="styled" name="fldMenuCheck_CC11" id="fldMenuCheck_CC11" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
                    
		
			<div class="info_row dark_header" id="demat" style="display:none;"> <div class="info_row2 page_title_carousel">Demat</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'HLD']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem1">
			<span class="info_row_menu_left">
				<img src="img/demat_holdingquery.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Holdings Query</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'HLD' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="HLD" name="fldMenuCheck_Dem1" id="fldMenuCheck_Dem1" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="HLD" class="styled" name="fldMenuCheck_Dem1" id="fldMenuCheck_Dem1" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DPL']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem2">
			<span class="info_row_menu_left">
				<img src="img/demat_listofac.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">List of Account</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DPL' = $myfavmenu">
						<input type="checkbox" checked="checked" class="styled" value="DPL" name="fldMenuCheck_Dem2" id="fldMenuCheck_Dem2" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="DPL" class="styled" name="fldMenuCheck_Dem2" id="fldMenuCheck_Dem2" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DPQ']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem3">
			<span class="info_row_menu_left">
				<img src="img/demat_clientprofile.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Client Profile</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DPQ' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="DPQ" name="fldMenuCheck_Dem3" id="fldMenuCheck_Dem3" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="DPQ" class="styled" name="fldMenuCheck_Dem3" id="fldMenuCheck_Dem3" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DTS']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem4">
			<span class="info_row_menu_left">
				<img src="img/demat_transactionstatement.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Transaction Statement</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DTS' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="DTS" name="fldMenuCheck_Dem4" id="fldMenuCheck_Dem4" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="DTS" class="styled" name="fldMenuCheck_Dem4" id="fldMenuCheck_Dem4" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DMQ']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem5">
			<span class="info_row_menu_left">
				<img src="img/demat_status.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Demat Status</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DMQ' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="DMQ" name="fldMenuCheck_Dem5" id="fldMenuCheck_Dem5" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="DMQ" class="styled" name="fldMenuCheck_Dem5" id="fldMenuCheck_Dem5" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DIQ']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem6">
			<span class="info_row_menu_left">
				<img src="img/demat_isinsearch.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">ISIN Search</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DIQ' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="DIQ" name="fldMenuCheck_Dem6" id="fldMenuCheck_Dem6" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="DIQ" class="styled" name="fldMenuCheck_Dem6" id="fldMenuCheck_Dem6" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DCQ']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem7">
			<span class="info_row_menu_left">
				<img src="img/demat_settlmentcalender.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Settlement Calender Master</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DCQ' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="DCQ" name="fldMenuCheck_Dem7" id="fldMenuCheck_Dem7" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="DCQ" class="styled" name="fldMenuCheck_Dem7" id="fldMenuCheck_Dem7" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		
		
			<div class="info_row dark_header" id="dtcard" style="display:none;"> <div class="info_row2 page_title_carousel">Debit Card</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DCL']">
		<div class="info_row odd">
			<label for="fldMenuCheck_DC1">
			<span class="info_row_menu_left">
				<img src="img/debitcard_hotlisting.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Debit Card Hotlisting</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DCL' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="DCL" name="fldMenuCheck_DC1" id="fldMenuCheck_DC1" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="DCL" class="styled" name="fldMenuCheck_DC1" id="fldMenuCheck_DC1" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'DCE']">
		<div class="info_row odd">
			<label for="fldMenuCheck_DC2">
			<span class="info_row_menu_left">
				<img src="img/debitcard_status.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Debit Card status</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'DCE' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="DCE" name="fldMenuCheck_DC2" id="fldMenuCheck_DC2" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="DCE" class="styled" name="fldMenuCheck_DC2" id="fldMenuCheck_DC2" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		
		
			<div class="info_row dark_header" id="fcatis" style="display:none;"> <div class="info_row2 page_title_carousel">Mutual Fund</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'IPB']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF1">
			<span class="info_row_menu_left">
				<img src="img/mf_newfundoffer.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">New Fund Offer</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'IPB' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="IPB" name="fldMenuCheck_MF1" id="fldMenuCheck_MF1" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="IPB" class="styled" name="fldMenuCheck_MF1" id="fldMenuCheck_MF1" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'OBU']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF2">
			<span class="info_row_menu_left">
				<img src="img/mf_purchase.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Purchase</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'OBU' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="OBU" name="fldMenuCheck_MF2" id="fldMenuCheck_MF2" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="OBU" class="styled" name="fldMenuCheck_MF2" id="fldMenuCheck_MF2" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'ORE']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF3">
			<span class="info_row_menu_left">
				<img src="img/mf_redeem.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Redeem</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'ORE' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="ORE" name="fldMenuCheck_MF3" id="fldMenuCheck_MF3" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="ORE" class="styled" name="fldMenuCheck_MF3" id="fldMenuCheck_MF3" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'OSW']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF4">
			<span class="info_row_menu_left">
				<img src="img/mf_switch.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Switch</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'OSW' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="OSW" name="fldMenuCheck_MF4" id="fldMenuCheck_MF4" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="OSW" class="styled" name="fldMenuCheck_MF4" id="fldMenuCheck_MF4" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'SIP']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF5">
			<span class="info_row_menu_left">
				<img src="img/mf_sip.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Systematic Investment</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'SIP' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="SIP" name="fldMenuCheck_MF5" id="fldMenuCheck_MF5" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="SIP" class="styled" name="fldMenuCheck_MF5" id="fldMenuCheck_MF5" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'SRP']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF6">
			<span class="info_row_menu_left">
				<img src="img/mf_siorderstatusrevocation.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">SI Order Status / Revocation</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'SRP' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="SRP" name="fldMenuCheck_MF6" id="fldMenuCheck_MF6" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="SRP" class="styled" name="fldMenuCheck_MF6" id="fldMenuCheck_MF6" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
			</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'SWP']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF7">
			<span class="info_row_menu_left">
				<img src="img/mf_sipwithdrawal.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Systematic Withdrawal</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'SWP' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="SWP" name="fldMenuCheck_MF7" id="fldMenuCheck_MF7" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="SWP" class="styled" name="fldMenuCheck_MF7" id="fldMenuCheck_MF7" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'STP']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF8">
			<span class="info_row_menu_left">
				<img src="img/mf_siptransfer.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Systematic Transfer</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'STP' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="STP" name="fldMenuCheck_MF8" id="fldMenuCheck_MF8" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="STP" class="styled" name="fldMenuCheck_MF8" id="fldMenuCheck_MF8" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'WCM']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF9">
			<span class="info_row_menu_left">
				<img src="img/mf_acctsummary.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Summary</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'WCM' = $myfavmenu">
						<input type="checkbox" checked="checked" class="styled" value="WCM" name="fldMenuCheck_MF9" id="fldMenuCheck_MF9" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="WCM" class="styled" name="fldMenuCheck_MF9" id="fldMenuCheck_MF9" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'TXA']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF10">
			<span class="info_row_menu_left">
				<img src="img/mf_transactionhistory.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Transaction History</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'TXA' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="TXA" name="fldMenuCheck_MF10" id="fldMenuCheck_MF10" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="TXA" class="styled" name="fldMenuCheck_MF10" id="fldMenuCheck_MF10" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'VPR']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF11">
			<span class="info_row_menu_left">
				<img src="img/mf_unitholdingstatement.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Unit Holding Statement</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'VPR' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="VPR" name="fldMenuCheck_MF11" id="fldMenuCheck_MF11" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="VPR" class="styled" name="fldMenuCheck_MF11" id="fldMenuCheck_MF11" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'OST']">
		<div class="info_row odd">
			<label for="fldMenuCheck_MF12">
			<span class="info_row_menu_left">
				<img src="img/mf_orderstatus.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Order Status</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'OST' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="OST" name="fldMenuCheck_MF12" id="fldMenuCheck_MF12" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="OST" class="styled" name="fldMenuCheck_MF12" id="fldMenuCheck_MF12" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		<xsl:if test="count(//faml/response/menuitem[@token2='chgaddr'])!=0 or count(//faml/response/menuitem[@token2='chgpwd'])!=0 or count(//faml/response/menuitem[@token2='mobilereg'])!=0">
			<div class="info_row dark_header"> <div class="info_row2 page_title_carousel">Others</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		</xsl:if>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CAD']">
		<div class="info_row odd">
			<label for="fldMenuCheck_oth1">
			<span class="info_row_menu_left">
				<img src="img/others_viewcontactdetails.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Contact Details</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CAD' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="CAD" name="fldMenuCheck_oth1" id="fldMenuCheck_oth1" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="CAD" class="styled" name="fldMenuCheck_oth1" id="fldMenuCheck_oth1" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'CPW']">
		<div class="info_row odd">
			<label for="fldMenuCheck_oth2">
			<span class="info_row_menu_left">
				<img src="img/others_changepassword.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Change Password</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'CPW' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="CPW" name="fldMenuCheck_oth2" id="fldMenuCheck_oth2" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="CPW" class="styled" name="fldMenuCheck_oth2" id="fldMenuCheck_oth2" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		
		
			<div class="info_row dark_header" id="alert" style="display:none;"> <div class="info_row2 page_title_carousel">Insta Alerts</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'ALT']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Alert1">
			<span class="info_row_menu_left">
				<img src="img/alerts_set.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Manage Alerts - Set</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'ALT' = $myfavmenu">
					
					
						<input type="checkbox" checked="checked" class="styled" value="ALT" name="fldMenuCheck_Alert1" id="fldMenuCheck_Alert1" style="width:10%;" />
						
				</xsl:when>
				<xsl:otherwise>
					
					<input type="checkbox" value="ALT" class="styled" name="fldMenuCheck_Alert1" id="fldMenuCheck_Alert1" style="width:10%;"/>
					
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		<xsl:if test="//faml//response//menuitem[@txnid = 'ALM']">
		<div class="info_row odd">
			<label for="fldMenuCheck_Alert2">
			<span class="info_row_menu_left">
				<img src="img/alerts_edit.jpg" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Manage Alerts -Edit/Delete</span>
			</label>
			<span class="right_arrow">
				<xsl:choose>
				<xsl:when test="'ALM' = $myfavmenu">
					<input type="checkbox" checked="checked" class="styled" value="ALM" name="fldMenuCheck_Alert2" id="fldMenuCheck_Alert2" style="width:10%;" />
				</xsl:when>
				<xsl:otherwise>
					<input type="checkbox" value="ALM" class="styled" name="fldMenuCheck_Alert2" id="fldMenuCheck_Alert2" style="width:10%;"/>
				</xsl:otherwise>
				</xsl:choose>
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</xsl:if>
		
		
		
		</div>
		 </div>
	</xsl:otherwise>
	</xsl:choose>

	

	 
	<input type="hidden" name="fldCountMenuItems"  value="{count(//faml//response//menuitem)}" />
	<input type="hidden" name="fldFCDBSessionId" value="{//faml/response//mci//@sessionid}" />


	<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
	<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="" />
	<input type="hidden" name="fldTxnId" id="fldTxnId" value="" />
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId">
	<xsl:attribute name="value">
	<xsl:value-of select="faml/response/mci/@requestid" />
	</xsl:attribute>
	</input>

</form>
 </div>
</div>

<script type="text/javascript">
$("#frmchequestatus").validate({
	rules: {
		fldAcctNo: "required",
				
	},
	messages: {
		fldAcctNo: "Select From Account",
				
	}
});

</script>
