<style>
	
</style>

 <section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
  <div class="content sub_content">
<form class="custStyleInput" name="frmstopcheque" id="frmstopcheque" method="post" data-bind='submit: rrsch01Submit'>
	<div id="tptCont" class="topBox" style="display:block;">
		
		<fieldset class="bgff5354">
			<label class="selLbl">Select Account</label>
				<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">
               </select>
			</fieldset>
			
			<fieldset class="bgff6869">
				<label>Cheque No.</label>
				<input type="tel" name="fldChqStrNo" id="fldChqStrNo" size="6" maxlength="6" minlength="6" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" />
			</fieldset>
		
			<fieldset class="bgff6869" style="display:none;">
				<label>End Cheque No.</label>
			        <input type="text" name="fldChqEndNo" id="fldChqEndNo" size="6" maxlength="6" minlength="6" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
			</fieldset>	
			
		  <fieldset class="bgff5354">
				<label>Reason</label>
			       <select name="fldChqStopRsn" id="fldChqStopRsn">
						<option value="">-Select-</option>
						<option value="001#CHEQUE LOST">CHEQUE LOST</option>
						<option value="013#CHEQUE BOOK STOLEN">CHEQUE BOOK STOLEN</option>
						<option value="010#STOP PAYMENT">STOP PAYMENT</option>
			     </select>
			</fieldset>	
			

		<fieldset class="bgff6869" style="display:none;">
				<label>Specific Reason</label>
			      <input type="text" name="fldChqStopRsn1" id="fldChqStopRsn1"  />
		</fieldset>	
		  <div class="bgded4d4">
				 
				  <div class="clearfix"></div>
				  <fieldset>
				  	 <input type="submit" class="btn" value="Submit" >
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
				  
				 </div>
	
		</form> 
	
  </div>
</div>
<script type="text/javascript">

$.validator.addMethod('greaterThan', function(value, element, param) {
if(value!==""){
return ( value >= jQuery(param).val() );
}
else{
return true;
}

}, 'End cheque number should be greater or equal to Start cheque number.' );

$.validator.addMethod('checkreson', function(value, element, param) {
if($("#fldChqStopRsn").val()==""){

return false;


}
else{
return true;
}

}, 'Stop Cheque reason cannot be blank' );


$("#frmstopcheque").validate({
	rules: {
		fldAcctNo: "required",
		fldChqStrNo: "required",
		fldChqEndNo: {greaterThan: "#fldChqStrNo"},
		fldChqStopRsn:{checkreson:"#fldChqStopRsn1"}	
	},
	messages: {
		fldAcctNo: "Select Account",
		fldChqStrNo: "Enter Valid 6 digit Cheque No.",			
	}
});

</script>
</section>
