<style>
	
</style>
<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
					
						 <form class="custStyleInput" name="frmReqAccStmtConf" id="frmReqAccStmtConf" method="post" data-bind='submit: rrsch02Submit'>
				<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Account Number</span> <span class="info_row_right f18" id="fldacctno" ></span>
						<div class="clearfix"></div>
			   </div>
			 
			 
					<div class="info_row"> <span class="info_row_left">Cheque No.</span> <span class="info_row_right f18 startchqno" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row" style="display:none;"> <span class="info_row_left">Reason code</span> <span class="info_row_right f18 reasoncode" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row"> <span class="info_row_left">Reason</span> <span class="info_row_right f18 chqreason" ></span>
						<div class="clearfix"></div>
					</div>
							
					
				</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						 <input type="submit" class="button" value="Confirm" >
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>
			</form>
					</div>
	</div>
			</section>

