<style>

</style>
 <section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
  <div class="content sub_content">
   <div class="info_row" id="accExitsMsg" style="display:none;"><p>You do not have active account with the bank.</p></div>
   <form class="custStyleInput" name="frmsin01" id="frmsin01" method="post" data-bind='submit: accountStmtSubmit'>
	<div id="tptCont" class="topBox" style="display:block;">
		
			<fieldset class="bgff5354">
				<label class="selLbl">Select Account</label>
				<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">
			
		    </select>
			</fieldset>
		
			
			<fieldset class="bgff6869 date_picker" style="display:none;">
				<label>From Date (dd/mm/yyyy)</label>
				<span id="show_date" class="date_icon"></span>
				<input type="text"  readonly="readonly"  name="fldFromDate" id="fldFromDate" />
			</fieldset>	
			
			<fieldset class="bgff6869 date_picker" style="display:none;">
				<label>To Date (dd/mm/yyyy)</label>
				<span id="show_date1" class="date_icon"></span>
				<input type="text" name="fldToDate" readonly="readonly" id="fldToDate" />
			</fieldset>	
			
			<fieldset class="bgff5354" style="display:none;">
				<label class="selLbl">Show Transaction</label>
				<select name="fldTxnType" id="fldTxnType" >
		          <option value="A">All Transactions</option>
		          <option value="D">Only Withdrawals</option>
		           <option value="C">Only Deposits</option>
		       </select>
			</fieldset>
			
	
		  <div class="bgded4d4">
				 
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" value="Submit" class="btn">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
		 </div>
		
	
		</div>
	
		
		</form> 
	
  </div>
</div>
<script type="text/javascript">


$(function(){
		var now = new Date();
	    $('#fldFromDate,#fldToDate').scroller({
	        preset: 'date',
	        theme: 'sense-ui',
	        display: 'modal',
	        mode: 'scroller',
	        dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10
	    });

$('#show_date1').click(function(){
  $('#fldToDate').scroller('show'); 
  return false;
});

$('#show_date').click(function(){
  $('#fldFromDate').scroller('show'); 
  return false;
});


$('#clear').click(function () {
  $('#fldFromDate').val('');
  return false;
});
});

$.validator.addMethod('greaterThan', 
function(value, element) {

                tmpdt1 = $('#fldToDate').val();
				arrdt1 = tmpdt1.split('/');
				
				tmpdt2 = $('#fldFromDate').val();
				arrdt2 = tmpdt2.split('/');
               var date1 = new Date(arrdt1[2],arrdt1[1],arrdt1[0]);

              var date2 = new Date(arrdt2[2],arrdt2[1],arrdt2[0]);

    if ( date1 < date2) {
	
     return false;  
    }
	else{
return true;
}

},'From Date cannot be greater than To Date');

$.validator.addMethod('CurrentDate', 
function(value, element) {

                tmpdt1 = $('#fldToDate').val();
				arrdt1 = tmpdt1.split('/');
				
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!

				var yyyy = today.getFullYear();
				if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} 
				var today = dd+'/'+mm+'/'+yyyy;
				
				tmpdt2 = today;
				arrdt2 = tmpdt2.split('/');
               var date1 = new Date(arrdt1[2],arrdt1[1],arrdt1[0]);

              var date2 = new Date(arrdt2[2],arrdt2[1],arrdt2[0]);

    if ( date2 < date1) {
	
     return false;  
    }
	else{
return true;
}

},'To Date cannot be greater than Current Date');

$("#frmsin01").validate({
	focusInvalid: false,
	rules: {
		fldAcctNo: "required",
		/*fldFromDate:"required",*/
        fldToDate:{
		 greaterThan:"#fldToDate",
		 CurrentDate:"#fldToDate",
		},
				
	},
	messages: {
		fldAcctNo: "Select Account",
		/*fldFromDate:"From Date cannot be blank",
       fldToDate:{
		  required:" To Date cannot be blank",
       	},*/				
	}
});
</script>
</section>


