<style>
.custfont {
	font-size: 18px;
}

.footer {
	display: inline-block;
}
</style>
<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">

			<form name="frmCreditScoreHome" id="frmCreditScoreHome" method="post"
				data-bind='submit: CreditScoreHomeSubmit'>
				<div class="summblock listItems">


					<div class="info_row custfont">
						<span class="info_row_left">Name</span> <span
							class="info_row_right f18 CustomerName"></span>
						<div class="clearfix"></div>
					</div>



					<div class="info_row custfont">
						<span class="info_row_left">Date of Birth</span> <span
							class="info_row_right f18 DOB"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Address Line 1</span> <span
							class="info_row_right f18 Address1"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Address Line 2</span> <span
							class="info_row_right f18 Address2"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Address Line 3</span> <span
							class="info_row_right f18 Address3"></span>
						<div class="clearfix"></div>
					</div>


					<div class="info_row custfont">
						<span class="info_row_left">PAN Number</span> <span
							class="info_row_right f18 PAN"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Aadhar Number</span> <span
							class="info_row_right f18 Aadhar"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Mobile Number</span> <span
							class="info_row_right f18 PhoneNo"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Email Id</span>
					</div>
					<fieldset class="bgff6869">
						<input type="text" class="EmailID" name="email" id="email"
							size="30" style="font-size: 17px;" />
					</fieldset>


					<div class="info_row custfont">
						<span class="info_row_left">City</span> <span
							class="info_row_right f18 City"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">State</span> <span
							class="info_row_right f18 State"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Pincode</span> <span
							class="info_row_right f18 Pincode"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Gender</span> <span
							class="info_row_right f18 Gender"></span>
						<div class="clearfix"></div>
					</div>

				<!--  	<div class="info_row custfont">
						<span class="info_row_left">Account Number</span> <span
							class="info_row_right f18 Acc_num"></span>
						<div class="clearfix"></div>
					</div>


					<div class="info_row custfont">
						<span class="info_row_left">Customer ID</span> <span
							class="info_row_right f18 Cust_ID"></span>
						<div class="clearfix"></div>
					</div>  -->

					 <div class="info_row custfont" id="OTP_CreditScore" style="display: none;">
					<!--  <fieldset class="bgff6869">  --> 
						<span class="info_row_left">OTP No</span>
						 <span class="info_row_right ">
						 <input type="password" name="OTp_No" id="p2cOTPval" minlength="6" maxlength="6" size="10">
							 <a id='btn' style="margin-top: 8px; display: block; margin-bottom: 3px; font-size: 16px;" onclick="CreditScoregetOTP()">Resend OTP</a>
							 </span>
						<!-- </fieldset> -->
					</div> 

					 <!-- <div class="info_row custfont">
						<fieldset class="bgff6869">
							I agree to the Terms and conditions
							 <select name="fldChecked" id="fldChecked" class="styled">
							 <option value="true">Accept</option>
							 <option value="false">Decline</option>
								
							</select>
							<div class="clearfix"></div>
						</fieldset>
					</div> --> 
					
					
				  	<div class="info_row custfont">
					<fieldset class="bgff6869"> 
					<span style="float: right; margin-top: 2%;">I agree to the <a onclick = "window.open('http://www.rblbank.com/pdfs/Footers/Terms-and-Conditions-The-Ratnakar-Bank.pdf', '_system')">Terms and conditions</a></span>
					<input type="checkbox" name="tcchckbox" id="tcchckbox" onclick="checkboxclick()" value="" style="float: left;">
					</fieldset>
					</div>  


				</div>

				<div class="bgded4d4">
					<div class="clearfix" style="height: 20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="" />
					</div>
					<div class="clearfix" style="height: 20px"></div>
				</div>
				
				 <input type="text" id="requestId" style="display: none"> 


			</form>
		</div>
	</div>
</section>

<script>

function checkboxclick() {
//otp generation call
CreditScoregetOTP();
$("#tcchckbox").attr("disabled", true);
$("#OTP_CreditScore").css('display','table');
} 


$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/i.test(value); 
			}
			, "Enter Valid Email Id"); 
			
		

$("#frmCreditScoreHome").validate({
	/* focusInvalid: false, */
	rules: {
		email:
		{
		required : true,
		alpha:true
		
		} ,
		/*
		 fldChecked: 
		{
		chkvalid: "#fldChecked"
		},
		*/
		 tcchckbox:
		{
		required : true,
		} ,
		
		 OTp_No:
		{
		required : true,
		} 
		
				
	},
	messages: {
		email:
		{
		required :"Enter Email Id",
		alpha : "Enter Valid Email Id",
		},
		/*
		fldChecked: 
		{
		chkvalid: "Please accept Terms & Conditions before proceeding."
		},
		*/
		
		
		 tcchckbox: 
		{
		required: "Please accept Terms & Conditions before proceeding."
		},
		
		 OTp_No: 
		{
		required: "Please enter OTP"
		}  
		
		
			
	}
});
			
		
</script>

