<style> 

.back {visibility: hidden; }

.f30{
font-size: 30px;
}

.f18{
font-size: 18px;
}

</style>

<section class="dynamic-page-content" id="contentData">

 <div id="wrapper">
    <div class="content sub_content">
    
  		 <!-- <div class="topBox bgff5354">
			
			
			<div class="success_msg">
				<p>Payment Done Successfully</p>	
			</div>
		</div> -->
		
  		<div class="summblock" id="">

			<div class="summblock listItems">
			
				<!-- <div class="info_row custfont f18"> <br><span class="info_row_left">Your Credit Score is</span> 
				<span style="float: right; margin-right: 10%;"><span class="info_row_right f30 CreditScore">300</span></span>
					<div class="clearfix"></div>
				</div> -->
				
				<div class="info_row custfont">
						<span class="info_row_left f18">Your Credit Score is</span>
						 <span class="info_row_right f30 CreditScore" ></span>
						<div class="clearfix"></div>
					</div>
	
		 
				</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
					<a href = "#rrasm01">
						<input type="button" class="button" value="Ok" style="width: 100px; margin: 0 auto; display: table;"/>
						</a>
					</div>
				
		</div>
		</div>

  </div>
</div>


</section>
