<style>
.custfont
{
font-size: 18px;
}
</style>
<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
					
	<form name="frmDetailsWithinBank" id="frmDetailsWithinBank"  method="post">
			<div class="summblock listItems">
				<div class="info_row custfont"> <span class="info_row_left">Payee Account Number</span> <span class="info_row_right f18 AccNo" ></span>
					<div class="clearfix"></div>
				</div>
				<div class="info_row custfont"> <span class="info_row_left">Payee Nick Name</span> <span class="info_row_right f18 PNickName" ></span>
						<div class="clearfix"></div>
				</div>

				
		
				</div>
				
<!-- 				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="button" class="button" value="Delete" id=""  onclick="deleteBeneficiary()"/>
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div> -->
				
				<div class="bgded4d4">
					<div class="clearfix" style="height: 20px;"></div>
					<fieldset>
						<input type="button" value="Delete" class="btn" data-bind='click: deleteBeneficiary' />
							
							
					</fieldset>
					
				</div>
				
		     
			</form>
					</div>
	</div>
			</section>

