<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>

<div id="dialogoverlaynew"></div>


<div id="dialogboxnew">
	
 		<div id="dialogboxheadnew" style= "background-color: lightgray;">
 		<span style="float: left; ">IFSC Search</span>
 		<span class="closePopup" style="float: right; margin-right: 5px;">Close</span>
 		</div>
 		
 		<br>
 		<div id="dialogboxbodynew">

 		</div>

	
</div>

<section class="dynamic-page-content" id="contentData">
		
	<div id="wrapper">
				
	<div class="content sub_content">
		<form class="custStyleInput" name="frmIFSC_Search" id="frmIFSC_Search" method="post" data-bind='submit: IFSC_SearchSubmit'>	  
	  
			<div class="topBox">
				
				<fieldset class="bgff6869">
					<label>Bank Name</label>
					<input style="text-transform:uppercase;" type="text" autocapitalize="off"  autocomplete="off"
                autocorrect="off" spellcheck="false" id="Bank_Name" name="Bank_Name" class="rs_fld"/>
				</fieldset>
				
				<fieldset class="bgff6869">
						<label>Branch Name</label>
						<input style="text-transform:uppercase;" type="text" autocapitalize="off"  autocomplete="off"
                autocorrect="off" spellcheck="false" id="Branch_Name" name="Branch_Name" class="rs_fld" />
						
				</fieldset>
				
				<fieldset class="bgff6869">
						<label>City</label>
						<input style="text-transform:uppercase;" type="text" autocapitalize="off"  autocomplete="off"
                autocorrect="off" spellcheck="false" id="City_Name" name="City_Name" class="rs_fld" />
						
				</fieldset>
					
			</div>
			<fieldset>
				<input type="submit" value="Search" class="btn"  id="" >
				
			</fieldset> 
			
				 
			  <!-- /content --> 
		
        </form>			
	</div>
		</div>
		</section>
		
	<script>
	
	$("#frmIFSC_Search").validate({
		rules : {
			Bank_Name : {
				required : true
			},
			/* Payee_Name : {
				required : true,
			}, */

			City_Name : {
				required : true
			},
			
			Branch_Name : {
				required : true
			}

		},
		messages : {
			Bank_Name : {
				required : "Enter Bank Name"
			},
			/* Payee_Name : {
				required : "Enter Payee Name",
			}, */

			City_Name : {
				required : "Enter City"
			},
			
			Branch_Name : {
				required : "Enter Branch Name"
			}

		}

	});
	

		
 
		$("#Bank_Name").focusin(function() {
			$(".footer").css('display', 'none');
		}).focusout(function() {
			$(".footer").css('display', 'inline-block');
		});

		$("#Branch_Name").focusin(function() {
			$(".footer").css('display', 'none');
		}).focusout(function() {
			$(".footer").css('display', 'inline-block');
		});

		$("#City_Name").focusin(function() {
			$(".footer").css('display', 'none');
		}).focusout(function() {
			$(".footer").css('display', 'inline-block');
		}); 
		
	</script>	