<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

<div id="wrapper" >
  <div class="content sub_content">
		<div class="info_row subTitle dark_header"> <span>Modify/Delete Payee</span></div>
			
		<div class="listRow">
			<a href="#Payee_Within">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/view_payee_withinbank.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Within RBL Bank</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#Payee_Ext">
			<div class="info_row even">
				<span class="info_row_menu_left"><img src="img/view_payee_neft.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">NEFT/IMPS</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#Payee_RTGS_Bene">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/view_payee_rtgs.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">RTGS</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>


		</div>
			
  </div>
  <!-- /content --> 
  
</div>