<style>
.custfont {
	font-size: 18px;
}
</style>
<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">

			<form name="frmDetailsIMPS" id="frmDetailsIMPS"
				method="post" data-bind='submit: WithinBankDetailsModifySubmit'>
				<div class="summblock listItems">
					<div class="info_row custfont">
						<span class="info_row_left">Payee Account Number</span> <span
							class="info_row_right f18 AccNo"></span>
						<div class="clearfix"></div>
					</div>
					
						<fieldset class="bgff6869">
							<label>Payee Name</label> <input type="text" id="Payee_Name"
								name="Payee_Name" class="rs_fld" autocapitalize="off" autocomplete="off"
                autocorrect="off" spellcheck="false"/>

						</fieldset>

						<!-- <fieldset class="bgff6869">
							<label>Payee Nick Name</label> <input type="text"
								id="Payee_Nick_Name" name="Payee_Nick_Name" class="rs_fld" autocapitalize="off" autocomplete="off"
                autocorrect="off" spellcheck="false"/>

						</fieldset> -->
						
						<div class="info_row custfont">
						<span class="info_row_left">Payee Nick Name</span> <span
							class="info_row_right f18 Payee_Nick_Name"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">IFSC Code</span> <span
							class="info_row_right f18 IFSCCode"></span>
						<div class="clearfix"></div>
					</div>


				</div>

				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Modify" id="" />
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>


			</form>
		</div>
	</div>
</section>

<script>


	$("#frmDetailsIMPS").validate({
		rules : {
			
			
			Payee_Name : {
				required : true,
			},
			
			/* Payee_Nick_Name : {
				required : true,
			} */
			

		},
		messages : {
			
			
			Payee_Name : {
				required : "Enter Payee Name",
			},

			/* Payee_Nick_Name : {
				required : "Enter Payee Nick Name",
			} */
			
			
		}

	});
	
	
		$("#Payee_Name").keyup(function() {
		$("#Payee_Name").val(this.value.match(/[A-Za-z ]*/));
		var count = $("#Payee_Name").val().length;
		if (count > 25) {
			$("#Payee_Name").val(this.value.match(/.{1,25}/));
			
		} 
		});
		
		//$("#Payee_Nick_Name").keyup(function() {
		//$("#Payee_Nick_Name").val(this.value.match(/[A-Za-z ]*/));
		//var count = $("#Payee_Nick_Name").val().length;
		//if (count > 25) {
		//	$("#Payee_Nick_Name").val(this.value.match(/.{1,25}/));
			
		//} 
		//}); 
		
	 $("#Payee_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	/* $("#Payee_Nick_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});  */

	
		
		
</script>

