<style>
</style>

<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
	<div class="content sub_content">
		<form name="frmftr03" id="frmftr03"  method="post" data-bind='submit:rrblp03Submit'>
		
			<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Utility</span> <span class="info_row_right f18" id="fldCompanyName" ></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Identification No.</span> <span class="info_row_right f18" id="fldBillCompId"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Consumer No.</span> <span class="info_row_right" id="fldConsumerNo"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Debit Account</span> <span class="info_row_right" id="fldFromAcctNo"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Available Balance</span> <span class="info_row_right" id="fldCustAcctBal"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Pay Amount</span> <span class="info_row_right" id="billamount"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Description</span> <span class="info_row_right"><input type="text" name="billdesc" id="billdesc" size="10"></span>
						<div class="clearfix"></div>
					</div>

				
				<div class="info_row" style="display:none;" id="OTPref"><span class="info_row_left">OTP Ref No</span> <span class="info_row_right " ><input type="text" name="OTp_No" id="OTP_Ref" size="10"></span>
					<div class="clearfix"></div>
				</div>		
         
				<div class="info_row"  id="OTP_No"> <span class="info_row_left">OTP No</span> <span class="info_row_right "><input type="password" name="OTp_No" id="OTP_No_Val" minlength="6" maxlength="6" size="10">
					<div class="clearfix"></div>			
				
					<a id='btn' style="margin-top: 8px;display: block;margin-bottom: 3px; font-size: 16px;" onclick="GetOTP()">Resend OTP</a>
					<div class="clearfix"></div>
					</span>
					<div class="clearfix"></div>
				</div>			


			</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" />
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>
				
		     
		</form>
	</div>
	</div>
</section>


<script type="text/javascript">
$("#frmftr03").validate({
	rules: {
		billdesc: "required",
		OTp_No: "required"		
	},
	messages: {
		billdesc:"Please enter Description",
		OTp_No:"Please Enter OTP No."		
	}
});

//resend otp count 3 function
var x = 0;

function resetcounter() {
    x = 0;
    $('#btn').show();
}

function count() {
    if(x<10)
    {
    x += 1;
        if(x==2){
			$('#btn').hide();
		}
    }
    else
    {
        x=0;
    }
}
$('#btn').click(

function() {
    count();   
});


</script>

