<style>
	
</style>
<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">
	  
		<div class="info_row odd" id="Nobiller" style="display:none;">
			<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
			<span class="info_row_menu_right clslineht" id="error" style="width:72%;">
				No Registered billers!
			</span> 
		</div>
		<div id="labelname" class="info_row subTitle dark_header" ><span>Pay Bill For</span></div>
		<form name="fbiller" id="fbiller"  method="post" data-bind='submit:rrblp01Submit'>
			
			<div id="biller" style="display:none;"> 
				
			<div class="topBox">	
				<fieldset class="bgff5354">
					<label class="selLbl">From Account</label>
					<select name="fldAcctNo" id="fldAcctNo" class="styled"  data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">
					</select>
				</fieldset>

				<fieldset class="bgff5354">
					<label class="selLbl">Utility Identification No.</label>
					<select name="fldBillDetails" id="fldBillDetails" data-bind="options: BillerList, optionsText: 'displaytxt', optionsValue: 'displayvalue1', value: selBiller, optionsCaption: '-Select-'">
					</select>
				</fieldset>
	
			</div>	 
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				<br/> 
				<div class="alignc"> <input type="submit" class="button" value="BillPay" ></div>
					<br/> <br/> 
				
				<div id="info" class="info_row">Utilities Registered for Bill Payment</div>    
					<br/>
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
					<br/>
				
				<div class="alignc">
		  
					<div data-bind="foreach: BillerList1">
						<div> <span class="page_title_sub" data-bind="text: billcompname"></span> <br/>
						<span class="f_lgrey"> Identification No: <span data-bind="text: mnemname"></span></span>  <br/>
						<span class="f_lgrey"> Bill Status: No Bill Due</span>
						</div>
						<br/>
						<div class="clearfix"></div>
						<div class="linedivider"></div>   
						<div class="clearfix"></div>
						<br/>
						<div class="clearfix"></div>
					</div>
		 
				</div>
	  
			</div>
		  
			<input type="hidden" name="fldRequestId" value="RRBLP02" />
			<input type="hidden" name="fldTxnId" value="BLP" />
			<input type="hidden" name="fldScrnSeqNbr" value="02" />
			<input type="hidden" id="fldBillDetails_txt" name="fldBillDetails_txt" value="" />
			<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
	   
		</form>

	  </div>
	</div>

	<script type="text/javascript">
	$("#fbiller").validate({
		rules: {
			fldAcctNo: "required",
			fldBillDetails: "required",
		},
		messages: {
			fldAcctNo: "Select From Account",
			fldBillDetails: "Select Biller",
		}
	});

	</script>
</section>