<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>

<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
	<div class="content sub_content">
		<form name="rrblp02" id="rrblp02" method="post" data-bind='submit:rrblp02Submit'>
				
			<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Utility</span> <span class="info_row_right f18" id="fldCompanyName" ></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Identification No.</span> <span class="info_row_right f18" id="fldBillCompId"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Consumer No.</span> <span class="info_row_right" id="fldConsumerNo"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Debit Account</span> <span class="info_row_right" id="fldFromAcctNo"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Available Balance</span> <span class="info_row_right" id="fldCustAcctBal"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row" id="billamount1" style="display:none;"> <span class="info_row_left">Pay Amount</span> <span class="info_row_right" id="billamount"></span>
						<div class="clearfix"></div>
					</div>


				<div class="info_row" id="billOutStandingDiv" style="display:none;">
					<div class="info_row2">Pay Amount</div>
					<div class="info_row3">
					  <input id="fldTxnAmt" name="fldTxnAmt" type="text" value="" size="8" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>     	
					</div> 
				</div>

			</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="BillPay" id="confirm_button1"/>
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>
				
		     
		</form>
	</div>
	</div>
</section>

<script type="text/javascript">
$("#rrblp02").validate({
	rules: {
		
		fldTxnAmt: "required"		
	},
	messages: {
		
		fldTxnAmt:"Enter Amount"	
	}
});

</script>
