
<style>
.info_row {
	display: table;
	width: 100%;
}

.linedivider {
	border: 0 none;
}
</style>
<script type="text/javascript" src="js/common.js"></script>
<style>
.swiper-container {
	width: 100%;
	height: 34px;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #222;
	margin-right: 5px;
	opacity: 0.8;
	border: 1px solid #fff;
	cursor: pointer;
}

.swiper-visible-switch {
	background: #aaa;
}

.swiper-active-switch {
	background: #fff;
}

.swiper-slide .title {
	line-height: 34px;
}

.arrow-right {
	background: url(img/rarrow.png) no-repeat left bottom;
	float: right;
	right: 10px;
	position: relative;
	top: 5px;
	width: 23px;
	height: 24px;
	z-index: 100;
}

.arrow-left {
	background: url(img/backold.png) no-repeat left top;
	float: left;
	left: 10px;
	position: relative;
	top: 5px;
	width: 23px;
	height: 24px;
	z-index: 100;
}
</style>

<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet"
	type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js"
	type="text/javascript"></script>


<div id="dialogoverlay"></div>


<div id="dialogbox">
	<div>
		<div id="dialogboxhead"></div>
		<div id="dialogboxbody"></div>
		<div id="dialogboxfoot"></div>
	</div>
</div>



<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">


			<form class="custStyleInput" name="frmP2CDetails" id="frmP2CDetails"
				method="post" data-bind='submit: P2CDetailsSubmit'>

				<div class="topBox">

					<fieldset class="bgff5354">
						<label class="selLbl" id="P2CacctType"></label> <select
							name="P2CAcctNo" id="P2CAcctNo"><option value="default"
								name="default" selected>Select</option>
						</select>
					</fieldset>

					<fieldset class="bgff6869">
						<label>Available Balance</label> <span class="f21" id="P2CacctBal"></span>
						<div class="clearfix"></div>
					</fieldset>
				</div>



				<div id="tptCont" class="topBox" style="display: block;">

					<fieldset class="bgff5354">
						<!-- <label>Enter Mobile No: </label> -->
						<input type="number" name="p2cbene_mobileno" id="p2cbene_mobileno"
							placeholder="Enter Payee Mobile No" />
					</fieldset>


					<fieldset class="bgff5354">
						<!-- <label class="no_mar">Name</label> -->
						<input type="text" name="p2cbene_name" id="p2cbene_name"
							placeholder="Enter Payee Name"/>
					</fieldset>

					<fieldset class="bgff5354">
						<!-- <label>Amount</label>  -->
						<input name="p2cchq_amt" id="p2cchq_amt" placeholder="Enter Amount" type="tel"
							class="p2cchq_amt" onblur="extractNumber(this,2,false);"
							onkeyup="extractNumber(this,2,false);"
							onkeypress="return blockNonNumbers(this, event, true, false);"/>
						<!-- <input class='p2cchq_amt' type="number" name="p2cchq_amt"
							id="p2cchq_amt" placeholder="Enter Amount" /> -->
					</fieldset>

					<fieldset class="bgff5354">
						<!-- <label>Description</label>  -->
						<input type="text" name="p2cremark" id="p2cremark"
							placeholder="Enter Description"/>
					</fieldset>
				</div>

				<div class="bgded4d4">
					<div class="clearfix"></div>
					<fieldset>
						<input type="submit" class="btn" value="Proceed">
					</fieldset>
					<div class="clearfix"></div>
				</div>
				
				<input type="text" id="P2CacctCustName" style="display: none">
				
			</form>
			
				<div class="disclaimer">
	           	 	<b>Disclaimer :</b>
					<p>Maximum limit for every transaction and daily transaction for P2C is &nbsp;₹ 10,000</p> 
				</div>
		</div>
	</div>
</section>


<script type="text/javascript">


/*  $('#frmP2CDetails').on('keydown', 'input', function (event) {
	if (event.which == 13) {
	event.preventDefault();
	var $this = $(event.target);
	var index = parseFloat($this.attr('data-index'));
	$('[data-index="' + (index + 1).toString() + '"]').focus();
	var scroll = $(this).offset();
	window.scrollTo(0, scroll);       
 }
});  */

$("#p2cbene_mobileno").focusin(function() {
   $(".footer").css('display','none');
}).focusout(function () {
   $(".footer").css('display','inline-block');
});

$("#p2cbene_name").focusin(function() {
   $(".footer").css('display','none');
}).focusout(function () {
   $(".footer").css('display','inline-block');
});

$("#p2cchq_amt").focusin(function() {
   $(".footer").css('display','none');
}).focusout(function () {
   $(".footer").css('display','inline-block');
});

$("#p2cremark").focusin(function() {
   $(".footer").css('display','none');
}).focusout(function () {
   $(".footer").css('display','inline-block');
});

	var accBal = null;

	$("#p2cbene_mobileno").keyup(function() {
		$("#p2cbene_mobileno").val(this.value.match(/[0-9]*/)); 
		var count = $("#p2cbene_mobileno").val().length;
		if (count > 10) {
			$("#p2cbene_mobileno").val(this.value.match(/[0-9]{10}/));

		} 
		
		if (count == 10)
		{
		$('#p2cbene_name').focus();
		}
	});
	
	$("#p2cbene_name").keyup(function() {
		$("#p2cbene_name").val(this.value.match(/[A-Za-z_ ]*/)); 
		var count = $("#p2cbene_name").val().length;
		if (count > 25) {
			$("#p2cbene_name").val(this.value.match(/.{1,25}/));
			

		} 
		});
		
			$("#p2cremark").keyup(function() {
			var count = $("#p2cremark").val().length;
			if (count > 50) {
			$("#p2cremark").val(this.value.match(/.{1,50}/));
		} 
		});

	/* $("#p2cchq_amt").keyup(function() {
		$("#p2cchq_amt").val(this.value.match(/([0-9]*)(\.[0-9]{1,2})?/));
	}); */
	
	
	$.validator.addMethod("gama", function(value, element) {
		var p2cbene_mobilenoEntered = $('#p2cbene_mobileno').val();
		if (p2cbene_mobilenoEntered.length<10){
			return false;
		}else{
			return true;
		}
	}, "Enter Correct Mobile number");
	
	/* $.validator.addMethod("teta", function(value, element) {
		var p2cchq_amtEntered = $('#p2cchq_amt').val();
		if (p2cchq_amtEntered.match(/^[1-9]+[0-9]*(\.[0-9]{1,2})?$/)){
			return true;
		}else{
			return false;
		}
	}, "Enter Correct Amount"); */
	
	
	$.validator.addMethod("beta", function(value, element) {
		var accBalAvailable = parseFloat($("#P2CAcctNo").find('option:selected').attr("accBal"));
		var chqAmtEntered = parseFloat($('#p2cchq_amt').val());
		/* alert("accBal"+accBalValidation+" chqAmtValidation"+chqAmtValidation); */
		if (chqAmtEntered > accBalAvailable) {
			/* alert("inside If"); */
			return false;
		} else {
			/* alert("inside else"); */
			return true;
		}
	}, "Insufficient funds available");

	$.validator.addMethod("alpha", function(value) {
		return ($("#P2CAcctNo").find('option:selected').val() != 'default');
	}, "Select Account");

	$("#frmP2CDetails").validate({
		rules : {
			p2cbene_mobileno : {
				required : true,
				gama:true,
			},
			p2cbene_name : {
				required : true,
			},
			p2cchq_amt : {
				required : true,
				beta : true,
				/* teta:true, */
			},
			p2cremark : {
				required : true,
			},
			P2CAcctNo : {
				/* required : true, */
				alpha : true,
			}

		},
		messages : {
			p2cbene_mobileno : {
				required : "Enter Mobile Number",
				gama:"Enter Correct Mobile number",
			},
			p2cbene_name : {
				required : "Enter Name",

			},
			p2cchq_amt : {
				required : "Enter Amount",
				beta : "Insufficient funds available",
				/* teta:"Enter Correct Amount", */
			},
			p2cremark : {
				required : "Enter Description",
			},
			P2CAcctNo : {
				/* required : "Select Account", */
				alpha : "Select Account",
			}

		}

	});

	$('#P2CAcctNo').change(function() {
		var accType = $(this).find('option:selected').val();
		/* console.log("option:::" + accType); */
		var accNum = $(this).find('option:selected').attr("name");
		/* console.log("accNum:::" + accNum); */
		accBal = $(this).find('option:selected').attr("accBal");
		/* console.log("accBal:::" + accBal); */
		var accCur = $(this).find('option:selected').attr("accCur");
		var acctCustNames = atob($(this).find('option:selected').attr("acctCustNames"));
		/* console.log("accCur:::" + accCur); */
		var curr = accCur;
		var acctbalance = null;
		if (curr == "INR" || curr == "inr" || curr == "Inr") {
			/* console.log("Indian Currency"); */
			acctbalance = "₹ " + formatAmt(parseFloat(accBal));
		} else {
			/* console.log("Non-Indian Currency"); */
			acctbalance = formatAmt(parseFloat(accBal));
		}
		$('#P2CacctType').html('');
		$('#P2CacctBal').html('');
		$('#P2CacctCustName').val('');
		if (accType != "default") {
			$('#P2CacctType').html(accType);
			$('#P2CacctBal').html(acctbalance);
			$('#P2CacctCustName').val(acctCustNames);
		}
		/* console.log("LoggedInUserID:::" + LoggedInUserID);
		console.log("LoggedInUserName:::" + LoggedInUserName); */
	});
</script>




