<style>

</style>
<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
					
	<form name="frmrrp2a" id="frmrrp2a"  method="post" data-bind='submit: rrp2a02Submit'>
			<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">From Account</span> <span class="info_row_right f18 fldAcctNo" ></span>
					<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Beneficiary Name</span> <span class="info_row_right narrative" ></span>
						<div class="clearfix"></div>
				</div>

				<div class="info_row"> <span class="info_row_left">Beneficiary IFSC Code</span> <span class="info_row_right f18 ifsccode" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Beneficiary Account Number</span> <span class="info_row_right codacctno"  ></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Bank Name</span> <span class="info_row_right bankname" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Amount</span> <span class="info_row_right fldtxnamount" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row" style="display:none;"> <span class="info_row_left">Amount</span> <span class="info_row_right txnamount" ></span>
						<div class="clearfix"></div>
				</div>	
					
            <div class="info_row"> <span class="info_row_left">Remark</span> <span class="info_row_right fldtxndesc" ></span>
						<div class="clearfix"></div>
					</div>
			 <div class="info_row" style="display:none;" id="OTPref"><span class="info_row_left">OTP Ref No</span> <span class="info_row_right " ><input type="text" name="OTp_No" id="OTP_Ref" size="10"></span>
						<div class="clearfix"></div>
			</div>		
         
		<div class="info_row"  id="OTP_No"> <span class="info_row_left">OTP No</span> <span class="info_row_right "><input type="password" name="OTp_No" id="OTP_No_Val" minlength="6" maxlength="6" size="10">
			<div class="clearfix"></div>			
				
				<a id='btn' style="margin-top: 8px;display: block;margin-bottom: 3px; font-size: 16px;" onclick="GetOTP()">Resend OTP</a>
				<div class="clearfix"></div>
			</span>
			<div class="clearfix"></div>
		</div>			
				</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="impsOtpConfirm" />
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>
				
		     
			</form>
					</div>
	</div>
			</section>

<script type="text/javascript">

$("#frmrrp2a").validate({
	rules: {
		
		OTp_No: "required",		
	},
	messages: {
		
		OTp_No:"Please Enter OTP No.",		
	}
});


$(document).ready( function() {
		$("#confirm_button").click( function() {
			$('input,select').each(function() {
				if (!$(this).attr('disabled'))
					$(this).addClass('dwtd');
			});
});

//resend otp count 3 function
var x = 0;

function resetcounter() {
    x = 0;
    $('#btn').show();
}

function count() {
    if(x<10)
    {
    x += 1;
        if(x==2){
			$('#btn').hide();
		}
    }
    else
    {
        x=0;
    }
}
$('#btn').click(

function() {
    count();   
});
});

</script>