<style>
	
</style>
 <section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
  <div class="content sub_content">
   <div class="info_row odd" id="accExitsMsg" style="display:none;">
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht" style="width:72%;">
			No Payees found. Kindly register payee before doing Fund Transfer.
		</span> 
  </div>
  
  
  <div id="ftransfer" style="display:none;">
   <form class="custStyleInput" name="frmtpt03" id="frmtpt03" method="post" data-bind='submit: rrtpt03Submit'>
	<div id="tptCont" class="topBox" style="display:block;">
		
			<fieldset class="bgff5354">
				<label class="selLbl">From Account</label>
				<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: fromAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select-'">
			
		    </select>
			</fieldset>
			
			<fieldset class="bgff5354">
				<label class="selLbl">To Account</label>
				<select name="fldToAcctNo" id="fldToAcctNo" data-bind="options: toAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldToAcctNo, optionsCaption: '-Select-'">
			
		    </select>	
			</fieldset>
			
			<fieldset class="bgff6869">
				<label>Amount</label>
				 <input type="text" id="fldTxnAmount" name="fldTxnAmount" value="" size="10" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
			</fieldset>	

		
			<fieldset class="bgff6869">
				<label>Description</label>
				<input type="text" name="fldTxnDesc" id="fldTxnDesc" size="25" maxlength="25" />
			</fieldset>
	
		<div class="bgded4d4">
				 
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" class="btn" value="Submit" id="confirm_button1">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
				 
				  
		</div>
		
		<div class="disclaimer">
	            <b>Disclaimer:</b>
				<p>1. Maximum limit for every transaction under Within RBL Bank is ₹ 5,00,000</p> 
				<p>2. Maximum daily transaction limit under Within RBL Bank is ₹ 5,00,000
				</p>
		</div>

	
		</div>
	
		
		</form> 
	</div>
  </div>
</div>

<script type="text/javascript">
$.validator.addMethod("DescRegex", function(value, element) {
        return this.optional(element) || /^[a-z0-9\-\ ]+$/i.test(value);
    }, "Use only letters, numbers, or dashes.");


$("#frmtpt03").validate({
	rules: {
		fldFromAcctNo: "required",
		fldToAcctNo: "required",
		fldTxnAmount: "required",
		fldTxnDesc: {
                required: true,
                DescRegex: true,
        }
	},
	messages: {
		fldFromAcctNo: "Select From Account",
		fldToAcctNo: "Select To Account",
		fldTxnAmount: "Enter Amount",
		fldTxnDesc: {
                required: "Enter Description",
                DescRegex: "Description format not valid"
            }
	}
});

</script>
