<section class="dynamic-page-content" id="contentData">
<div id="wrapper">
  <div class="content sub_content">
	 <div class="topBox bgff5354">
		<div class="rsaOOBErr" style="display:none;">
				
  		<p></p>
				
		</div>
	</div>
  
	<div class="info_row odd" id="accExitsMsg" style="display:none;">
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht" style="width:72%;">
			You do not have any transactions for the selected Account.
		</span> 
  </div>

		
	<div class="summblock listItems" id="acnt">
				<div class="info_row"> <span id="acntnumber" class="info_row_left">Account Number</span> <span class="info_row_right f18" id="divaccno" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left" id="acctypeLabel"></span> <span class="info_row_right f18" id="savingAccno"></span>
						<div class="clearfix"></div>
				</div>
					
	</div>

		
		<div data-bind="foreach: accountStmtTxns" style="display:none;" id="ftsatus">
  		<div class="summblock" >

				<div class="summblock listItems">
					
					<div class="topBox">
						<div class="bgff5354"> <span class="info_row_left">Date</span> <span class="info_row_right f18" data-bind="text: dattxn" ></span>
							<div class="clearfix"></div>
						</div>
			        </div>
				
					<div class="info_row"> <span class="info_row_left">Reference Number</span> <span class="info_row_right f18" data-bind="text: Refno"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Amount</span> <span class="info_row_right f18" data-bind="text: amnttxn"></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Beneficiary Name</span> <span class="info_row_right" data-bind="text: Benefname"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Description</span> <span class="info_row_right" data-bind="text: txndesc" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row"> <span class="info_row_left">UTR</span> <span class="info_row_right"  data-bind="text: txnutr"></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row"> <span class="info_row_left">Status</span> <span class="info_row_right"  data-bind="text: txnstatus"></span>
						<div class="clearfix"></div>
					</div>
					
				</div>
		</div>
   </div>
  </div>
</div>


</section>

