    <section class="dynamic-page-content" id="contentData">
<div id="wrapper">
  <div class="content sub_content">
  		<div class="topBox bgff5354">
			
			<div class="rsaOOBErr" style="display:none;">
				<p></p>
			</div>
			
			<div class="success_msg" style="display:none;">
				<p>Transaction successful</p>	
			</div>
		</div>
  		<div class="summblock" >

				<div class="summblock listItems">
					<div class="info_row"> <span class="info_row_left">Reference No.</span> <span class="info_row_right f18" id="refno" ></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Amount</span> <span class="info_row_right f18" id="amount" ></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Transaction Status</span> <span class="info_row_right" id="txnStatus"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">From Account</span> <span class="info_row_right" id="fromAccount" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row"> <span class="info_row_left">To Account</span> <span class="info_row_right" id="toAccount" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row"> <span class="info_row_left">Description</span> <span class="info_row_right" id="description"  ></span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row" style='display:none'> <span class="info_row_left">Currency</span> <span class="info_row_right" id="currency></span>
						<div class="clearfix"></div>
					</div>
				</div>
				
				
	
		</div>

  </div>
</div>


</section>

