<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    
    <div class="summblock">
			
			<div class="info_row dark_header"> 
				<span class="info_row_left">Reference Number</span> 
				<span class="info_row_right clsrefno">
					
				</span>
			<div class="clearfix"></div>
			</div> 
			
			
			<div id="iftdata">
			
			<div class="info_row odd"> 
				<span class="info_row_left clslineht">Beneficiary Mobile Number</span> 
				<span class="info_row_right clsbenefmob">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"> 
				<span class="info_row_left">Beneficiary MMID</span> 
				<span class="info_row_right clsbenefmmid">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			</div>
			
			<div id="noniftdata" style="display:none;">
			<div class="info_row odd"> 
				<span class="info_row_left">Beneficiary</span> 
				<span class="info_row_right clsbenefname">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"> 
				<span class="info_row_left clslineht">Beneficiary A/C No</span> 
				<span class="info_row_right clsbenefaccno">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"> 
				<span class="info_row_left clslineht">Beneficiary IFSC Code</span> 
				<span class="info_row_right clsbenefifsc">
				
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"> 
				<span class="info_row_left clslineht">Beneficiary A/C Type</span> 
				<span class="info_row_right clsbenefacctype">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			</div>
			
			<div class="info_row odd">
				<span class="info_row_left">From Account</span> 
				<span class="info_row_right clsfromacc">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even">
				<span class="info_row_left">Amount</span> 
				<span class="info_row_right page_title_sub clsamt">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd">
				<span class="info_row_left">Remark</span> 
				<span class="info_row_right clsremark">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even">
				<span class="info_row_left clslineht">Transaction Status</span> 
				<span class="info_row_right clslineht clstxnstatus">
					
				</span>
			<div class="clearfix"></div>
			</div>
			
		</div>
 
  </div>
</div>