<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    
 	<div class="clearfix"></div>
		
		
		<div class="info_row">
		<p class="width60Per radio_box">
	        <label>
	          <input type="radio" name="radOption" id="radref" value="byref" checked="checked"  />
	          <span >By Reference No.</span></label>
	      </p>
	    <p class="width40Per radio_box">
	        <label>
	          <input type="radio" name="radOption" id="raddate" value="byperiod"  />
	          <span >By Period</span></label>
	      </p>  
	    </div>  
		<!-- <div class="info_row cust_radio"> 
			<input type="radio" name="radOption" id="radref" value="byref" checked="checked" /><label> By Reference No.</label> 
			<input type="radio" name="radOption" id="raddate" value="byperiod" class="marLeft10" /><label> By Period</label>
		<div class="clearfix"></div>
		</div> -->
									
		<form class="custStyleInput" name="frmvft01" id="frmvft01" method="post" data-bind='submit: rrvft01Submit'>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			
		<div id="refblock">	
		<div class="info_row" > <div class="info_row2">Reference Number</div> <div class="info_row3">
			<input type="text" name="fldRefNo" id="fldRefNo" value="" size="10"  class="rs_fld"/>
			   </div>
			<div class="clearfix"></div>
		  </div>
		  
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</div>	
			
		<div id="dateblock" style="display:none;">		
		<div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"> <div class="info_row2">From Date (dd/mm/yyyy)</div> 
		<div class="info_row3">
	        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text"  readonly="readonly"  name="fldFromDate" id="fldFromDate"  />
	        <div  id="show_date"><img src="img/index.png"  /></div></div>		
	     </div>
		 </div>
	 
	
	 
	  <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
    
     <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><div class="info_row2">To Date (dd/mm/yyyy)</div> 
	<div class="info_row3">
        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text" name="fldToDate" readonly="readonly" id="fldToDate" />
        <div  id="show_date1"><img src="img/index.png"  /></div></div>
     </div>
     <div class="clearfix"></div>
     </div>
	 
	  </div>
	  
		 <div class="clearfix20"></div>
   <div class="info_row">
    <input type="submit" class="button" value="View" >
   </div>
		
		<input type="hidden" name="fldRequestId" id="fldOperationId" value="RRVFT02" />
		<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="02" />
		<input type="hidden" name="fldTxnId" id="fldTxnId" value="VFT" />
		
		<input type="hidden" name="fldopttype" id="fldopttype" value="ref" />
				
		</form>
		
	<form class="custStyleInput" name="frmvft02" id="frmvft02" method="post" data-bind='submit: rrvft02Submit'>
	 <!-- ko if: impsdetails().length > 0 -->
	 <label for="fldSelectedFund" class="error" style="display:none;">Please choose one.</label>
	 <div data-bind="foreach: impsdetails">
	 
	 	<div class="info_row"><input type="radio" name="fldSelectedFund" data-bind="attr: { value: referenceno }, checked: $root.selRefno" style="padding-top:10px;"  /> <p style="padding-top:4px;">Select Reference No.</p></div>

		<div class="clearfix"></div>
		
		<!-- ko if: txntype === 'P2P' -->		
		
			<div class="summblock">
				<div class="info_row dark_header"> <span class="info_row_left">Transaction Type</span> 
				<span class="info_row_right clslineht">IMPS (using Mobile No. &amp; MMID)</span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"> <span class="info_row_left">Reference No</span> 
				<span class="info_row_right" data-bind="text: referenceno"></span>
				<div class="clearfix"></div>
				</div>
				 
				<div class="info_row even"> <span class="info_row_left">Transaction Date</span> 
				<span class="info_row_right" data-bind="text: dattxn"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"> <span class="info_row_left">From Account</span> 
				<span class="info_row_right" data-bind="text: fromaccount"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"> <span class="info_row_left">Amount</span> 
				<span class="info_row_right page_title_sub" data-bind="text: txnamount"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"> <span class="info_row_left clslineht">Beneficiary Mobile No.</span> 
				<span class="info_row_right" data-bind="text: benefmobno"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"> <span class="info_row_left">MMID</span> 
				<span class="info_row_right" data-bind="text: benefmmid"></span>
				<div class="clearfix"></div>
				</div>	
			</div>
		<!-- /ko -->
		<!-- ko if: txntype !== 'P2P' -->
		    
		    <div class="summblock">
				<div class="info_row dark_header"> <span class="info_row_left">Transaction Type</span> 
				<span class="info_row_right clslineht">IMPS (using A/c No. &amp; IFSC code)</span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"> <span class="info_row_left">Reference No</span> 
				<span class="info_row_right" data-bind="text: referenceno"></span>
				<div class="clearfix"></div>
				</div>
				 
				<div class="info_row even"> <span class="info_row_left">Transaction Date</span> 
				<span class="info_row_right" data-bind="text: dattxn"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"> <span class="info_row_left">From Account</span> 
				<span class="info_row_right" data-bind="text: fromaccount"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"> <span class="info_row_left">Beneficiary</span> 
				<span class="info_row_right" data-bind="text: benefname"></span>
				<div class="clearfix"></div>
				</div>
				 
				<div class="info_row odd"> <span class="info_row_left">Beneficiary A/C No.</span> 
				<span class="info_row_right" data-bind="text: benefacctno"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"> <span class="info_row_left">Beneficiary IFSC Code</span> 
				<span class="info_row_right" data-bind="text: benefifsc"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"> <span class="info_row_left clslineht">Beneficiary A/C Type</span> 
				<span class="info_row_right" data-bind="text: benefaccttype"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"> <span class="info_row_left">Amount</span> 
				<span class="info_row_right page_title_sub" data-bind="text: txnamount"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"> <span class="info_row_left">Remarks</span> 
				<span class="info_row_right" data-bind="text: remarks"></span>
				<div class="clearfix"></div>
				</div>
				
			</div>
			
		<!-- /ko -->
		
	   <div class="clearfix20"></div>
	   <div class="info_row">
	    <input type="submit" class="button" value="Show Details" >
	   </div>
	 
	 </div>
	 <!-- /ko -->
	 
	 <input type="hidden" name="fldOperationId" id="fldOperationId" value="RRVFT03" />
	<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="03" />
	<input type="hidden" name="fldTxnId" value="VFT" />
	<input type="hidden" name="fldRefNo_ix" id="fldRefNo_ix" value="0" />
	<input type="hidden" name="fldRefNo1" id="fldRefNo1" data-bind="value: selRefno" />
	<input type="hidden" name="fldFromDate" id="fldFromDate" value="" />
	<input type="hidden" name="fldToDate" id="fldToDate" value="" />
		
			
	 </form>
	 <!-- ko if: impsdetails().length === 0 -->
	 <!-- ko if: fldRefNodata !== '' -->
	 <section class="error_page_in clearfix">      
  		<div>
  			<p class="f18 fontblue">Sorry, there are no transactions matching entered Reference Number.</p>
  		</div>
  	</section>
  	<!-- /ko -->
  	<!-- ko if: fldRefNodata === '' -->
	 <section class="error_page_in clearfix">      
  		<div>
  			<p class="f18 fontblue">Sorry, there are no transactions initiated during this period.</p>
  		</div>
  	</section>
  	<!-- /ko -->
  	<!-- /ko -->

  </div>
</div>

<script type="text/javascript">
$(document).on('change','#radref',function(e){
	//$('#radref').change(function () {
	$('#refblock').show();
	$('#dateblock').hide();
	$('#fldopttype').val('ref');

	});
	$(document).on('change','#raddate',function(e){
	//$('#raddate').change(function () {
	$('#refblock').hide();
	$('#dateblock').show();
	$('#fldopttype').val('period');
	});
	
$(function(){
	var now = new Date();
    $('#fldFromDate,#fldToDate').scroller({
        preset: 'date',
        theme: 'sense-ui',
        display: 'modal',
        mode: 'scroller',
        dateOrder: 'ddMYYYY',
		endYear: now.getFullYear() + 10
    });
    
    


$('#show_date1').click(function(){
$('#fldToDate').scroller('show'); 
return false;
});

$('#show_date').click(function(){
$('#fldFromDate').scroller('show'); 
return false;
});


$('#clear').click(function () {
$('#fldFromDate').val('');
return false;
});


});

$("#frmvft01").validate({
	focusInvalid: false,
	rules: {
		fldRefNo: {
            required: {
                depends: function(element) {
                	var tmpsrch = $('input[name=radOption]:radio:checked').val()
                    return tmpsrch == 'byref'
                }
            }
        },
        fldFromDate: {
            required: {
                depends: function(element) {
                	var tmpsrch = $('input[name=radOption]:radio:checked').val()
                    return tmpsrch == 'byperiod'
                }
            }
        },
        fldToDate: {
            required: {
                depends: function(element) {
                	var tmpsrch = $('input[name=radOption]:radio:checked').val()
                    return tmpsrch == 'byperiod'
                }
            }
        }
	},
	messages: {
		fldRefNo: "Enter Reference Number",
		fldFromDate: "Select From Date",
		fldToDate: "Select To Date",
	}
});

$("#frmvft02").validate({
	rules: {
		fldSelectedFund: "required"			
	},
	messages: {
		fldSelectedFund: "Please choose one."		
	}
});

</script>
