<style>

</style>
 <section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
  <div class="content sub_content">
  
    <div class="info_row odd" id="accExitsMsg" style="display:none;">
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht" style="width:72%;">
			You do not have any Fixed Deposit with the Bank.
		</span> 
	</div>

   
   <form class="custStyleInput" name="frmfdacnts" id="frmfdacnts" method="post" data-bind='submit: fdacntsSubmit'>
	<div id="tptCont" class="topBox" style="display:block;">
		
			<fieldset class="bgff5354">
				<label class="selLbl">Select Account</label>
				<select name="fdAcctNo" id="fdAcctNo" data-bind="options: FDaccountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: '-Select-', optionsCaption: '-Select-'">
			
		    </select>
			</fieldset>
	
		  <div class="bgded4d4">
				 
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" value="Submit" class="btn">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
		 </div>
		
	
		</div>
	
		
		</form> 
	
  </div>
</div>
<script type="text/javascript">


$("#frmfdacnts").validate({
	focusInvalid: false,
	rules: {
		fdAcctNo: "required"
	},
	messages: {
		fdAcctNo: "Select Account"
	}
});
</script>
</section>


