<style>

</style>
<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
					
	<form name="frmfd" id="frmfd"  method="post" data-bind='submit: FDconfirmforotp'>
				<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Debit Account</span> <span class="info_row_right  fldAcctNo" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Nature of Deposit</span> <span class="info_row_right nature" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">Deposit Amount</span> <span class="info_row_right depositamnt" ></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">Deposit Period</span> <span class="info_row_right depositperiod"></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">Rate of Interest</span> <span class="info_row_right rateinterest" ></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">Maturity Amount<div style="color: #642BE2;font-size: 11px;">Maturity value subject to TDS</div></span> <span class="info_row_right  maturityamnt" ></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">Deposit Date</span> <span class="info_row_right  depositdate" ></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">Maturity Date</span> <span class="info_row_right maturitydate"></span>
						<div class="clearfix"></div>
				</div>
				
				<div class="info_row"> <span class="info_row_left">Maturity Instruction</span> <span class="info_row_right maturity"></span>
						<div class="clearfix"></div>
				</div>
			
				<div class="info_row" style="display:none;"> <span class="info_row_left">Request</span> <span class="info_row_right request"></span>
					<div class="clearfix"></div>
				</div>

			
			 <div class="info_row" style="display:none;" id="OTPref"><span class="info_row_left">OTP Ref No</span> <span class="info_row_right " ><input type="text" name="OTp_No" id="OTP_Ref" size="10"></span>
						<div class="clearfix"></div>
			</div>		
         
		<div class="info_row"  id="OTP_No" style="display:none;"> <span class="info_row_left">OTP No</span> <span class="info_row_right "><input type="password" name="OTp_No" id="OTP_No_Val" minlength="6" maxlength="6" size="10">
			<div class="clearfix"></div>			
				
				<a id='btn' style="margin-top: 8px;display: block;margin-bottom: 3px; font-size: 16px;" onclick="GetOTP()">Resend OTP</a>
				<div class="clearfix"></div>
			</span>
			<div class="clearfix"></div>
		</div>			
				</div>
				
				
			<fieldset class="bgff5354" id="accept">
			   <label class="selLbl">Confirm Details</label>
				<select name="fldChecked" id="fldChecked" onchange='confrmval()'>
				<option value="true">Accept</option>
				<option value="false">Decline</option>
				</select>
			</fieldset>	
			
			<div class="bgded4d4" id='confirmbutton'>
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="" />
					</div>
					<div class="clearfix" style="height:20px"></div>
			</div>
			
		     
	</form>
			
			<div class="bgded4d4" style='display:none;' id='otphit'>
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="button" style="width: 193px;margin: auto;display: table;" class="button" value="Continue" id="" onclick='FDSubmit();'/>
					</div>
					<div class="clearfix" style="height:20px"></div>
			</div>
			
					</div>
	</div>
</section>

<script type="text/javascript">
function confrmval(){
	if($('#fldChecked').val() == 'false'){
		var model = new AccountsViewModel();
        model.getFDOpenSchemes();		
	}
}

$("#frmfd").validate({
	rules: {
		
		OTp_No: "required",		
	},
	messages: {
		
		OTp_No:"Please Enter OTP No.",		
	}
});

</script>